[2016-02-12 16:27] ghost opened #7 "Inject AstMap to OutputFormatterInterface"
Iterate over classes not over dependencies (e.g. GraphvizOutputFormatter)

[2016-02-17 22:06] slde-flash opened #8 "use filesystem component in ConfigurationLoader"

[2016-02-17 22:07] slde-flash opened #9 "add integration tests"

[2016-02-17 22:07] slde-flash opened #10 "update phpparser version"

[2016-02-17 22:18] #10 closed, assigned to nobody

[2016-02-17 23:00] #7 closed, assigned to nobody

[2016-02-18 21:04] #8 closed, assigned to nobody

[2016-02-18 21:57] slde-flash opened #11 "graphviz formatter should show layers, not just dependencies."

[2016-02-18 22:00] slde-flash opened #12 "documentation"
- [x] write
- [ ] add some love

[2016-02-18 22:02] slde-flash opened #13 "self updater"

[2016-02-18 22:04] slde-flash opened #14 "add note that deptrac is alpha"

[2016-02-18 22:05] slde-flash opened #15 "add version in code and some kind of usage tracking"

[2016-02-18 22:06] slde-flash opened #16 "coverage 100%"

[2016-02-18 22:09] slde-flash opened #17 "provide downloadable phar file"

[2016-02-18 22:10] slde-flash opened #18 "travis support"

[2016-02-18 22:11] slde-flash opened #19 "allow custom collectors"

[2016-02-18 22:26] slde-flash opened #20 "add support for Service Configurations"
- [ ] XML
- [ ] YML

[2016-02-18 22:26] slde-flash opened #21 "add support for routing"

[2016-02-19 22:44] #11 closed, assigned to nobody

[2016-02-19 23:00] slde-flash opened #22 "0 Violations should be green"

[2016-02-21 01:00] #22 closed, assigned to nobody

[2016-02-21 01:06] #14 closed, assigned to nobody

[2016-02-21 01:07] slde-flash opened #23 "cleanup history"

[2016-02-22 22:36] slde-flash opened #24 "check composer.lock"

[2016-03-10 23:13] slde-flash opened #25 "andere lösung für foo/vendors"

[2016-03-10 23:14] slde-flash opened #26 "muss ohne graphviz halbwegs laufen"

[2016-03-10 23:16] slde-flash opened #27 "fehler bei zu alter php version"

[2016-03-10 23:20] slde-flash opened #28 "init command vereinfachen"
at the moment the dumped depfile (running deptrac init) is not very useful.
some will struggle why foo/vendors doesn't exist.

[2016-03-11 07:11] #25 closed, assigned to nobody

[2016-03-11 11:47] #9 closed, assigned to nobody

[2016-03-11 12:50] slde-flash opened #30 "namespace zu SensioLabs\Deptrac"

[2016-03-11 13:01] #30 closed, assigned to nobody

[2016-03-11 14:04] slde-flash opened #32 "formatter cli interface"
analog zu

--formatter-graphviz --formatter-graphviz-format=dot --formatter-graphviz-path=file.png --formatter-json

[2016-03-11 14:09] #26 closed, assigned to nobody

[2016-03-11 14:09] #24 closed, assigned to nobody

[2016-03-14 22:40] slde-flash opened #39 "Support for dot clusters"
graphviz supports "clusters"

<img width="755" alt="screen shot 2016-03-14 at 23 36 43" src="https://cloud.githubusercontent.com/assets/7532909/13762252/ee01e19c-ea3d-11e5-916d-46e4c07eb64e.png">

http://www.graphviz.org/pdf/dotguide.pdf

[2016-03-14 22:46] #32 closed, assigned to slde-flash

[2016-03-14 22:47] slde-flash opened #40 "document new formatter cli interface"

[2016-03-15 21:58] #40 closed, assigned to nobody

[2016-03-15 22:07] #28 closed, assigned to nobody

[2016-03-15 22:19] #27 closed, assigned to nobody

[2016-03-15 22:35] #12 closed, assigned to slde-rorschach

[2016-03-15 22:36] slde-flash opened #41 "provide phar file"

[2016-04-05 10:21] slde-rorschach opened #42 "Add a MethodNameCollector"
Deptrac needs a Collector, that watches method names.

Use case:
I don't want, that my WhatEverBundle uses the createQueryBuilder() Method.

[2016-04-30 05:55] vincentchalamon opened #48 "Add support to Symfony 3"
`deptrac` requires all Symfony components in ~2.7. It can be interesting to add Symfony 3 components support.

Also, this library is incompatible with [sensiolabs-de/deprecation-detector](https://github.com/sensiolabs-de/deprecation-detector): it requires `nikic/php-parser` ~2.0, but `deprecation-detector` requires `nikic/php-parser` ^1.3.

[2016-04-30 07:41] timglabisch commented on #42
it's done, docs are missing

[2016-04-30 07:42] #42 closed

[2016-04-30 07:43] slde-flash opened #49 "docs for MethodNameCollector"

[2016-04-30 07:50] slde-flash commented on #48
can you provide more information about **what exactly is missing** and **why** it would be useful?
i use deptrac in some symfony 3 projects :)

[2016-04-30 07:53] #41 closed

[2016-04-30 07:53] #23 closed

[2016-04-30 07:53] #15 closed

[2016-04-30 07:54] #17 closed

[2016-04-30 07:59] vincentchalamon commented on #48
@slde-flash My bad, I updated the description :)

[2016-04-30 08:11] amansilla commented on #18
I'd start with this @slde-flash

[2016-04-30 08:18] vincentchalamon commented on #48
This issue is just about installing this library. Binary file (as phar) works in Symfony 3 project

[2016-04-30 08:18] #48 closed

[2016-04-30 08:21] slde-flash commented on #48
ah got it :) i would recommend using the phar file. because you don't want deptracs dependencies in your project.

i'll open an issue to clarify that you should use the phar file instead on using composer to require it.

i am going to update all composer dependencies on a regular basis.
right now we don't have a release cycle (which would include updating all dependencies).

[2016-04-30 08:23] vincentchalamon commented on #48
I usually install sensiolabs-de dependencies in my project (like deprecation-detector) to have binary directly in my project. This tool changes a bit, that's why

[2016-04-30 08:25] slde-flash opened #50 "add documentation why you should use the phar build"

[2016-04-30 08:33] vincentchalamon commented on #50
About documentation: is it possible it use another tool than `dot`? Otherwise, you should consider it as a **required dependency**, cause currently [it's an optional dependency](https://github.com/sensiolabs-de/deptrac#optional-dependency-graphviz).

[2016-04-30 08:41] slde-flash commented on #50
the formatters are "pluggable", we think about supporting much more (for example dumping json, d3, ...)
https://github.com/sensiolabs-de/deptrac/tree/master/src/OutputFormatter

you can run deptrac without the graphviz formatter:

`deptrac analyze depfile.yml --formatter-graphviz=0`
or just dump the dot file using `deptrac analyze depfile.yml --formatter-graphviz=0 --formatter-graphviz-dump-dot=fo

[2016-04-30 09:12] dbr-foodpanda opened #52 "Issue with tilde in depfile's exclude_files"
I get the following error (on PHP 5.5):
[code]
which seems to be caused by using the tilde in the exclude_files-section in my `depfile.yml`:
[code]
The same depfile works fine on a system using PHP 7.0.5.

[2016-04-30 09:14] dbr-foodpanda commented on #52
I am currently running it with an updated depfile using an empty array. If that solves the issue I will provide a PR that will do a type check in Configuration to ensure null is converted into an empty array.

[2016-04-30 09:37] #52 closed

[2016-04-30 09:42] amansilla commented on #13
@slde-flash is there some special requirements for this. I'd like to work on this issue.

[2016-04-30 10:10] dbrumann opened #57 "Options for Graphviz-Formatter are being ignored"
I want to omit generating a dependency graph image by running deptrac with the following options:
[code]
but it will still open image previewer with the dependency graph.

[2016-04-30 10:16] slde-flash commented on #57
this is symfony related, you cant pass arguments to the default command. try php deptrac.phar analyze depfile.yml --formatter-graphviz=0 --formatter-graphviz-display=0

would be awesome if you could add a hint to the docs :)

[2016-04-30 10:16] #57 closed

[2016-04-30 10:17] slde-flash commented on #18
thanks :)

[2016-04-30 10:17] #18 closed

[2016-04-30 11:08] theofidry opened #60 "Download over HTTPS"
Copy/paste the curl command from the doc doesn't work:

[code]

[2016-04-30 11:11] theofidry opened #61 "Support `.depfile.yml` as default configuration file"
It is also very common to have dotfiles for this kind of tool configuration. In my case that would help to be a bit consistent.

No big deal though.

[2016-04-30 11:16] slde-flash commented on #60
thx

[2016-04-30 11:18] #60 closed

[2016-04-30 11:27] slde-flash commented on #61
feel free to use `deptrac.phar analyze .depfile`

for now i prefer `depfile.yml` over `.depfile.yml`.

best practice is NOT HAVING a "default" configuration, because there is no "default" [view](https://github.com/sensiolabs-de/deptrac#different-layers-and-different-views) on software.

[2016-04-30 11:28] #61 closed

[2016-04-30 11:30] theofidry commented on #61
But I'm lazy :P

In the end it's more a matter of personal preferences, that's why most accept both: `.blackfire.yml`, `.travis.yml`, `.phpcs`, `.phpmetrics.yml`, ... Hence the idea of allowing both out of the box.

[2016-04-30 11:41] theofidry opened #65 "Directory collector"
Actually before jumping into a "directory collector" a question comes: why excluding the `test(s)` folder? I would say everything in `src` should not depend on what is in `tests`.

[2016-04-30 11:57] dbrumann opened #66 "Hide console output for generating AstMap"
Right now when running deptrac generates some noise related to generating the AstMap, e.g. for each file being parsed.

It would be nice if this output is hidden by default and then only being displayed when using `-v`.

[2016-04-30 13:05] theofidry opened #68 "Sub groups or sublayers"
Let's say I have the following tree:

[code]

There's the following layers & ruleset:

[code]

This gives me the following schema:

<img width="302" alt="screen shot 2016-04-30 at 13 34 21" src="https://cloud.githubusercontent.com/assets/5175937/14935846/49e7a4d8-0ed8-11e6-928f-1500a2544321.png">

Now I would like to go a step further and specify more advanced rules.

For example, I can break down

[2016-04-30 13:09] theofidry commented on #68
Maybe a duplicate of #39 though

[2016-04-30 13:11] theofidry opened #69 "Add command to visualize a group"
It would be nice to have a command to list all the classes included in a layer, ex:

[code]

[2016-04-30 13:22] timglabisch commented on #69
i think this would be great for debugging collectors 👍

[2016-04-30 13:25] theofidry opened #70 "Invalid argument in foreach"
My deptrac phar is `bin/deptrac` (executable) and I have the following config:

[code]

When running `bin/deptrac analyze .dotfile/top_layers.yml`, I get:

[code]

This stack trace appears quite a few time and I still get the graph as a result.

[2016-04-30 13:27] theofidry opened #71 "Cache parsing"
I may be wrong when saying that, I didn't run any blackfire profile neither really dig in the code, but I see the `Parsing File x` each time I run the command, which I guess could be skipped somehow if there was any cache layer.

[2016-04-30 13:33] slde-flash commented on #70
this is already  fixed. i'll update the phar file soon. use `[]` instead of `~`.

[2016-04-30 13:33] #70 closed

[2016-04-30 13:38] slde-flash commented on #65
what exactly do you mean by `excluding the tests folder` ?
i just excluded the tests folder in the example - this highly dependends on on you usage.

it's totally fine to write a depfile that ensures that files in (for exampe) the tests folder must not depend on other files in another folder (layer).

[2016-04-30 13:43] slde-flash commented on #68
thanks for writing this down, i'll take a closer look soon.
did you consider using multiple depfiles to track different concerns?

[2016-04-30 13:43] theofidry commented on #65
Ok then what I would wish in that case is defining as a layer all classes under my `tests` folder for example. The issue is that not every test class is identifiable as a one by its namespace:

[code]

[2016-04-30 13:49] slde-flash commented on #70
it's updated ... :)

[2016-04-30 14:02] theofidry commented on #68
@slde-flash I did (although *after* writing this done). It works nice but ultimately is still a workaround.

To continue on the example above, when I'm breaking down `Application` in two sublayers, I'm actually breaking by explicitly defining the two sub-layers:

[code]

The issue is by doing that a little error in the regex, or if I breakdown `Application` in more sublayers, it's easy to find you

[2016-04-30 14:03] theofidry commented on #70
Cheers

[2016-04-30 14:04] theofidry commented on #68
ex of import statement?

[code]

[2016-04-30 14:26] pueppiblue opened #72 "additional configuration required to run 'make build'"
`make build` gave me an error that `phar.readonly` is "On" in php.ini.
After looking into my php.ini (/etc/php5/cli/php.ini) i noticed
`;phar.readonly = On`
As you can see its commented, so On seems to be the default behavior as well.
Setting it to Off and uncommenting it solved the issue for me.

[2016-04-30 16:09] theofidry opened #73 "Add a legend"
Would it be possible to add a legend in the generated graph?

[2016-04-30 16:11] theofidry opened #74 "Add a third color"
I think it would be nice to add a third color for the links violating the rules.

I personally would put it red... but then requires to change the color of the current red link into another one.

[2016-04-30 16:24] theofidry commented on #74
Nevermind...

[2016-04-30 16:24] #74 closed

[2016-04-30 16:35] theofidry opened #75 "Missing layer"
Somehow I'm declaring 4 layers, but on the graph I only get 3... I don't see any error on the configuration side (runs fine), how can this be?

[2016-04-30 16:50] timglabisch commented on #75
deptrac shows only layers that are affected by a collector.
may this helps?

[2016-04-30 16:51] theofidry commented on #75
Do you mean that if I have 3 layers A, B and C but A = B, it will show only B and C?

[2016-04-30 17:02] timglabisch commented on #75
no, i mean if you have a layer and no collector is matching any class, the layer will not be printed in the graphviz output. try to use the className collector with .* and the layer should appear

[2016-04-30 17:05] theofidry commented on #75
Hm indeed, and hard to tell the classes captured by the layer before #69.

[2016-04-30 18:00] slde-flash commented on #75
i am going to close this issue,  i believe in the future a richer userinterface will do the trick.

[2016-04-30 18:00] #75 closed

[2016-04-30 18:07] slde-flash commented on #72
thanks, i added this to the docs
https://github.com/sensiolabs-de/deptrac/commit/23230a1908ed6dfef91bd64392eed4bce380622b

[2016-04-30 18:07] #72 closed

[2016-04-30 18:14] slde-flash commented on #73
it should be possible:
http://stackoverflow.com/questions/3499056/making-a-legend-key-in-graphviz

for me, it's not that important. i would prefer spending my time writing a html (react /d3) based formatter.
if you want, feel free to try to improve the graphviz formatter.

[2016-04-30 18:14] #73 closed

[2016-04-30 18:19] slde-flash commented on #65
feel free to contribute a collector for this usecase, it should be very simple.

i didn't tested it, but the implementation should look like this:

[code]

[2016-04-30 18:21] theofidry commented on #73
👍 graphviz does the job but it's not super pretty :)

[2016-04-30 18:22] theofidry commented on #65
I'll try when I'll have a hand free for code contribution :)

[2016-04-30 19:08] slde-flash commented on #68
this is a huge and complex topic.

the current configuration style is `repetitive`, i am already thinking about how to solve this. i promise this will become much more hackable/flexible soon. for now don't try to avoid repeating yourself in the depfile.

here a some small hints:

<img width="340" alt="55034786-0ed9-11e6-84bd-c77358a1dfbe" src="https://cloud.githubusercontent.com/assets/7532909/149

[2016-04-30 19:08] #68 closed

[2016-04-30 19:09] slde-flash opened #76 "hackable/flexible depfile configuration"

[2016-04-30 19:10] slde-flash opened #77 "grouping layers"

[2016-04-30 19:14] theofidry commented on #68
`sub_layers` maybe not be ideal indeed, but rather introduce the possibility to combine layers based on other layers, using some elements from the Set theory like given above. But then "layer" is maybe not the right term as, at least to me, layers illustrate something pilling on each other. If we have the possibility to group things like that, it would rather be "groups" as some "layer" could be p

[2016-05-02 18:40] #66 closed

[2016-05-02 20:01] theofidry opened #79 "Collectors configuration"
If I understand correctly from the code, Collectors don't have a configuration per se, but rather have access to all the arguments passed to the collector. As a result, they handle those values as they wish without any validation of any kind.

Example:

[code]

Wouldn't it be better to change that and have one configuration per collector? That way we could add a validation step when creating the c

[2016-05-02 22:11] slde-flash commented on #79
yes, this is correct.

this will be definitely changed in the near feature when i start working on [#76](https://github.com/sensiolabs-de/deptrac/issues/76)

right now i don't want to promise that a validation step will be possible. i would prefer a "hackable" configuration over static checks, but i'll do my best to reach both goals.

[2016-05-02 22:11] #79 closed

[2016-05-04 15:25] slde-flash opened #87 "print a warning if someone tries to install deptrac as a composer dependency"
deptrac is a standalone application and shouldn't be used as a project dependency.

for now it would be great if we could print a warning.

[2016-05-04 17:17] loostro commented on #87
@slde-flash Could you explain why it shouldn't be used as a project dependency? What is the downside?

[2016-05-04 22:29] slde-flash commented on #87
@loostro there are several reasons why you should not use deptrac as a project dependency.

- i'll try hard to avoid unnecessary breaking changes. if you use deptrac as phar you would be just affected by breaking changes on cli arguments and the depfile. imagine i would update deptracs dependencies to symfony 3.0 or 2.3 - may this would break your code. to bring deptrac to the next level it's impo

[2016-05-05 10:26] loostro commented on #87
@slde-flash IMHO it's the developers responsibility to choose how he manages his projects dependencies.

[2016-05-05 11:16] theofidry commented on #87
It's also a maintainer choice to have an opinionated tool and refuse to allow misuses that would only end up in more work or complains.

For example, I know more than one developer who would simply try to install it as a Composer dependency just because they are too lazy to check how you deal with phar files, and come complain here when it would be in trouble because of a dependency conflict.

[2016-05-05 11:40] loostro commented on #87
As you wish. I've created a [shim repository](https://github.com/loostro/deptrac-shim) with no dependencies. So it can be used as a dev-dependency, but acts as a standalone application.

[2016-05-06 13:16] playr1983g opened #88 "Analyze only one specific file against some deptrac configuration / IDE integration"
It would be nice if there was a function to analyze only one specific file against some deptrac configuration. It would be a first step to integrate a validator in an IDE.

That would be awesome! Imagine you import some namespaced class and PhpStorm (or another favorite IDE) instantly marking this as an error in your file because it violates your defined architecture.

[2016-05-06 16:42] jakzal commented on #77
This would be a great addition.

 I just tried deptrac for the first time and being able to define layers within another layer is the only thing I seem to be missing. It should be possible to define high level dependency rules (controllers -> services -> repositories), and then additional dependencies withing the layer (services/A -> services/B).

[2016-05-06 22:46] slde-flash commented on #77
thanks @jakzal,
i am working on [#76](https://github.com/sensiolabs-de/deptrac/issues/76) which will allow more complex configurations. this won't help to visualize high level dependencies, but it would be much more easy to define and enforce them.

i didn't tryed it, but for example you could build a configuration this way:

[code]

don't be scared of the verbosity of this solution [#76](https://

[2016-05-06 22:54] slde-flash commented on #88
hi @playr1983g

it's not really possible to run deptrac just against one file.
deptrac is quite flexible and would allow you to write collectors that takes a look at other files.

for now i'll close this ticket as a duplicate of [#71](https://github.com/sensiolabs-de/deptrac/issues/71). from my point of view this ticket would be solved, if you were able to get instant feedback by retrunning deptra

[2016-05-06 22:54] #88 closed

[2016-05-07 11:02] theofidry commented on #77
@jakzal on my end I solved it by having several files to run different level of analysis, cf. #68

[2016-05-08 10:54] jrobeson commented on #87
if it isn't meant to be installed as a dependency, then it'd be nice if it was packaged for distributions instead. Trying to manage keeping phar files up to date is always going to be an adhoc and annoying process, especially since you have to remember to run self-updated every so often. I'd rather it be handled by my distro instead.

 if you're looking for a place to host these packages , then ch

[2016-05-08 12:08] theofidry commented on #87
@jrobeson it would be nice but it's more work as well. Personally I don't have much trouble updating composer every now and then, same goes for other PHAR as long as you have a `self-update` command (which not all have sadly).

But maybe it would be nice to have a composer extension to manager PHAR? :P

[2016-05-09 14:45] amansilla opened #89 "Add JUnit formatter"
It'd be nice a JUnit formatter like PHPUnit has, that way we could generate a violations XML file that could be integrated in a continuous delivery process e.g. Jenkins.

[2016-05-09 16:07] slde-flash commented on #89
👍 , do you want to work on the formatter?

[2016-05-09 16:19] jakzal commented on #77
@slde-flash I actually solved it exactly the same way and that's why I came here to report we need a better way ;)

@theofidry not ideal! :)

[2016-05-09 16:21] theofidry commented on #77
@jakzal for the reasons explained in #68, this solution doesn't suit ;)

[2016-05-09 18:25] slde-flash commented on #77
i am still playing with different solutions. [#90](https://github.com/sensiolabs-de/deptrac/pull/90/files#diff-44c2903d7b3ba395fe9c4a072928a93fR14)

[2016-05-09 18:32] amansilla commented on #89
Sure 😉

[2016-05-09 18:35] slde-flash commented on #87
the first stable version (1.0) of deptrac will include a smart solution to keep everything up to date.
right now the configuration format isn't stable, so keeping deptrac automatically won't work.

[2016-05-13 08:31] amansilla opened #92 "Add support for AppVeyor"
I think adding support for AppVeyor would be nice for Windows testing. I'm already started working on this.

[2016-05-13 10:32] slde-flash commented on #92
thanks a lot, i've to take a deeper look AppVeyor - never used it before :)

[2016-05-17 11:30] #92 closed

[2016-05-17 18:20] slde-flash commented on #13
@amansilla thanks a lot!

[2016-05-17 18:20] #13 closed

[2016-05-17 18:31] slde-flash opened #99 "add --self-update to deptrac analyze run"
add a --self-update argument to the analyze (default) command.
so you could use `deptrac.phar analyze --self-update (alias --selfupdate) depfile.yml` in a ci environment.

the command will run deptrac and ensures that it's up to date.

[2016-05-25 15:22] Didel opened #102 "Shorthand analyze options don't work"
I'm new to deptrac, so if this isn't a bug but just incorrect usage, feel free to close it!

The **Run Deptrac**-section of the  [readme](https://github.com/sensiolabs-de/deptrac#run-deptrac) states:

    php deptrac.phar

    # which is equivalent to
    php deptrac.phar analyze depfile.yml

So, that made me assume that you could append the various graphviz-options like so:

    php deptrac.phar

[2016-05-26 10:09] slde-flash commented on #102
this is related to the way the symfony console component works (take a look at http://symfony.com/doc/current/components/console/changing_default_command.html)

we already mention this limitation in the docs:

feel free to try to improve the docs (PR) to ensure that people don't get confused by this "issue".

[2016-05-26 10:14] #102 closed

[2016-06-29 09:31] ragol opened #104 "Integration with Structure101"
Hi!

There is a great commercial Tool called [Structure101](http://structure101.com/). It is originally from the Java world, but supports other languages through plugins. It used to have a PHP plugin that worked somewhat up to PHP 5.3.

It would make sense if you could collaborate or even develop a modern Plugin for Structure101.

[2016-06-29 10:43] theofidry commented on #104
deptrac is free whereas Structure101 is expensive (and doesn't look like easier to use).

[2016-06-29 11:28] ragol commented on #104
It is expensive, yes. But it does much more than deptrac.

Anyway, my aim was to give you an idea of what can be done with dependency tracking. Not everybody knows Structure101. May be you could use that information in development of deptrac.

[2016-06-29 12:39] slde-flash commented on #104
deptrac focus more on enforcing such tests using ci systems than discovering your own architecture. i tryed hard to make deptrac as easy as possible, if you believe something is too complex, feel free to open a ticket and give me a hint.

i am not really interested in supporting any kind of non-opensource solution.
keep in mind, deptrac is MIT, so feel free fork/hack =)

[2016-06-29 12:39] #104 closed

[2016-08-01 02:51] c33s opened #106 "running a global installed deptrac.phar as non-root fails"
deptrac should be callable as non-root user if it was globally installed. currently it results in an Exception.

[code]

[2016-08-01 03:05] c33s commented on #106
the [constructor][1] of `padraic/phar-updater` calls `$this->setLocalPharFile($localPharFile);` which throws an exception on a not writeable phar file.
the constructor is called because of the [services.xml][2].

am i right and lazyloading the service would help?
[code]

[1]: https://github.com/padraic/phar-updater/blob/master/src/Updater.php#L101
[2]: https://github.com/sensiolabs-de/deptrac/blob

[2016-08-02 12:06] slde-flash commented on #106
thanks a lot for reporting this issue.
can you please self-update deptrac and retry?

[2016-08-02 14:44] c33s commented on #106
now it works :)
[code]

[2016-08-02 14:44] #106 closed

[2016-08-02 14:52] c33s opened #107 "Obey HTTP_PROXY environment variables for selfupdate"
currently updating behind a proxy does not work only a direct connection is tried.

`deptrac selfupdate` should look after the common proxy environment variables:
[code]
is this a `deptrac` issue or a `padraic/phar-updater`? searching for the word "proxy" in their repo has no result, so i assume its a phar-updater issue.

[2016-08-02 14:53] c33s commented on #107
https://github.com/padraic/phar-updater/issues/18

[2016-08-05 11:46] timglabisch commented on #107
i believe this is related to `padraic/phar-updater` and out of deptracs scope. feel free to reopen / vote on this issue

[2016-08-16 12:18] #107 closed

[2016-09-20 10:58] jakzal opened #112 "Sign the phar file"
Would you mind signing the phar file and publishing the signature? It could be used to verify the downloaded file (for example with https://github.com/tommy-muehle/tooly-composer-script).

[2016-09-26 16:00] fieg opened #113 "Syntax error on php 7.1"
When using deptrac on php 7.1 we get the following error:

[code]

This is probably due to the nullable return type:

[code]

[2016-09-27 06:26] slde-flash commented on #113
thanks for reporting, i've to update the phpparser.
 https://github.com/nikic/PHP-Parser/issues/260

[2016-10-03 12:35] slde-flash commented on #113
the problem is that the phpparser 3 isn't stable right now.
deptrac runs well with phpparser3 but for now i think we should wait until it's stable [deptrac/tree/feature_phpparser3](https://github.com/sensiolabs-de/deptrac/tree/feature_phpparser3)

if you need php7.1 and want to use deptrac you can use a special [deptrac beta build](get.sensiolabs.de/deptrac-beta.phar).

[2016-10-11 21:04] kalimatas opened #114 "Enhance the visual progress of generating AstMap"
Now there is a `dot` printed for each file during generating the AstMap. It would be nice to have the same progress bar(s) as PHPUnit has, like:

[code]

What do you think about it?

[2016-10-11 21:20] xabbuh commented on #114
What about using Symfony's `ProgressBar` instead? The Console component already is a dependency of deptrac.

[2016-10-11 21:27] kalimatas commented on #114
Yes, it makes more sense.

[2016-10-12 07:06] slde-flash commented on #114
at the moment i want to keep deptrac as small as possible.
I even think we could do much better and separate any kind of generated output (images, svg's, ...) from the engine behind deptrac.

is there any real timesaver / usecase / benefit you're missing if we delay this?

[2016-10-12 08:05] kalimatas commented on #114
There is no urgent need. It was just a matter of nice-looking output.

[2016-10-12 08:21] slde-flash commented on #114
ok, for now i am going to close this issue.
deptrac's output will become a huge topic later :)

[2016-10-12 08:21] #114 closed

[2017-02-27 14:38] ondrejmirtes commented on #113
I think that this is a current issue, because PHP-Parser 3.x is stable and 7.1 is being adopted more and more every day.

[2017-02-27 21:14] slde-flash commented on #113
i am a bit busy at the moment but i try to update the phpparser soon.

[2017-04-08 09:31] timglabisch commented on #113
should be fixed =)

[2017-04-18 14:24] hiddeco commented on #113
The issue hasn't been resolved, see: https://github.com/sensiolabs-de/deptrac/pull/122

[code]

The previously working beta build also has been removed (`Access Denied` S3 error) which now leaves us with no solution.

[2017-04-18 17:11] hiddeco commented on #113
I updated my PR with a fix, I am however not very familiar with the inner workings of deptrac so I am not sure if it has any side affects / covers all edge cases.

[2017-04-18 19:32] timglabisch commented on #113
thanks a lot, i merged the PR and updated the phar file :)

[2017-04-18 19:32] #113 closed

[2017-04-26 11:53] iaroshukandrii opened #123 "PHP Warnings after self-update"
I was waiting for php 7.1 nullable return types fix, and when this issue was closed https://github.com/sensiolabs-de/deptrac/issues/113 I've updated deptrac.phar with `php deptrac.phar self-update`

before I was getting

[code]

and after update a lot of

[code]

unfortunately, `deptrac.phar --version` returns `Console Tool` for both, so I cant specify which versions are relevant. I will post full

[2017-04-26 16:56] xabbuh commented on #123
Is there any chance you give a small example project that triggers this error?

[2017-04-28 09:41] hiddeco opened #124 "Nullable FQCNs throw illegal offset warnings"
First of all, I introduced this bug myself in #122.

Nullable FQCNs currently throw lots of `Illegal offset type in isset or empty` warnings in the `Astmap` and `ClassNameLayerResolverCacheDecorator` because an object is passed as a class name which should be a string value.

The reason for this is that the `NullableType::$type` can either hold a string (as assumed in #122) or a `FullyQualified` n

[2017-04-29 11:04] timglabisch commented on #124
thanks =)

[2017-04-29 11:04] #124 closed

[2017-04-29 11:09] timglabisch commented on #123
@iaroshukandrii can you please update deptrac and check if the issue still exists?
please reopen the issue with a small code example if you still run into this issue.

[2017-04-29 11:09] #123 closed

[2017-07-12 20:24] hiddeco opened #126 "Self return types throw illegal offset warnings"
Another day, another PHP 7.x bug.

Due to some inconsistencies in the PHP parser `self` and `?self` are not being picked up correctly by the `BasicDependencyEmitter` and not transformed to the flat values `EmittedDependency` expects them to be. This causes an `illegal offset warning` which also happened in #124.

The exact reason this happens is that we check if the `$node->returnType` is a `Name\

[2017-07-16 20:34] timglabisch commented on #126
thanks, PR is merged 👍

[2017-07-16 20:34] #126 closed

[2017-08-10 00:32] c33s opened #130 "Add a version, Tag Releases and allow downloading specific versions"
same as you are doing for [`php cs fixer`][1]: start to tag versions (even 0.0.2) and keep the released phar files so we can download specific versions.

for example:  `http://get.sensiolabs.de/0.0.2/deptrac.phar`

[1]: https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases

[2017-08-11 16:10] timglabisch commented on #130
of course it's a good idea but at the moment i dont want to put effort on this. since release we didn't had any kind of BC.
feel free to vote / discuss this PR, may i'll change my mind :)

[2017-08-13 20:27] umulmrum opened #132 "Limit on external dependencies"
Great tool, thanks for your effort!

I wondered if it is possible to specify a rule to only allow external dependencies in a specific layer. In my case I would like to define composer's vendor dir as external dependencies root, and allow only code from an Infrastructure layer to depend on that code. Is that somehow feasible (my application code is separated into multiple distinct namespaces withou

[2017-08-14 07:52] timglabisch commented on #132
@umulmrum i guess this would be possible with the directory collector https://github.com/sensiolabs-de/deptrac/pull/108
feel free to contribute the missing docs ;)

at the moment you've to identify a layer by classname (including namespace).

[2017-08-14 07:52] #132 closed

[2017-11-09 17:14] lvillarino opened #136 "deptrac.phar -v failing"
I'm getting this error when I run the command _deptrac.phar -v_

`<Error><Code>TemporaryRedirect</Code><Message>Please re-send this request to the specified temporary endpoint. Continue to use the original request endpoint for future requests.</Message><Bucket>get.sensiolabs.de</Bucket><Endpoint>get.sensiolabs.de.s3.eu-central-1.amazonaws.com</Endpoint><RequestId>4FACD7CE2AE3D6AA</RequestId><HostI

[2017-11-10 13:35] dbrumann commented on #136
I can't reproduce this issue:
[code]

[2017-11-10 19:41] lvillarino commented on #136
I found out the problem. The problem is that the command fail when you are inside a docker container.

[2018-01-12 10:26] Ocramius opened #139 "`ClassNameCollector` defines its own regex modifiers and delimiters - shouldn't"
https://github.com/sensiolabs-de/deptrac/blob/f917338219c6334163198382f559338259f1eb30/src/Collector/ClassNameCollector.php#L19-L40

As you can see, there is a hardcoded `/$theRegex/i` here. I wanted to use multi-line regexes due to a legacy project which has WAY too many namespaces, so having all on one line started to cause some issues with the config, but adding `/x` to the configuration wouldn

[2018-01-12 23:08] timglabisch commented on #139
@Ocramius can you give me an example of the depfile?

wouldn't this possible using multiple collectors?
[code]

[2018-01-12 23:09] timglabisch commented on #136
if someone has the same issue please reopen the ticket. can't reproduce it.

[2018-01-12 23:09] #136 closed

[2018-01-12 23:11] timglabisch commented on #130
closing this for now. we'll introduce versions when we've the first BC's.

[2018-01-12 23:11] #130 closed

[2018-01-12 23:12] #87 closed

[2018-01-16 16:47] Ocramius commented on #139
The filters I have are exclusive, not inclusive. It's stuff like (pseudo-code):

[code]

And no, let's please not invent a complex filtering system: regexes are more than enough :-)

[2018-01-19 17:27] hgraca opened #143 "LayerCollector"
It would be great if we could say that a layer is every class that match a regex except the ones already in another specific layer.

We would use it in a BooleanCollector like this:
[code]

This would avoid duplicating the regex that defines the `CommandBus` layer.

[2018-01-19 17:29] hgraca opened #144 "Create a cache to speedup"
If we would have a cache, in the style of `php-cs-fixer`, I guess we could speedup the analysis a lot.

[2018-01-19 22:10] timglabisch commented on #143
we would have the hen egg problem.

consider:

[code]

the main problem is that we don't know the layers before all collectors are finished.
from my point of view the solution for this is using something like twig macros to generate the depfile.
i experimented with this a while ago https://github.com/slde-flash/deptrac/blob/feature/advanced_configuration/examples/depfile.yml.twig#L3

[2018-01-19 22:10] #143 closed

[2018-01-19 22:18] timglabisch commented on #144
may we could create a cache for the generated ast but nothing more.
even if the current collectors dont make use of it, every collector has access to all of the code.

[2018-01-19 22:26] hgraca commented on #143
Awesome!!

[2018-01-20 05:26] borNfreee commented on #144
We are caching AST in [Infection](https://github.com/infection/infection) (I mean we parse file only once) and then use [CloneVisitor](https://github.com/infection/infection/blob/master/src/Visitor/CloneVisitor.php) to preserve its original state. Not sure it can help you as I'm not familiar with architecture of this project, but FYI

Also, if the file did not change after previous deptrac run, ca

[2018-03-01 08:07] smoench commented on #65
It has been merged with PR #147.

Thanks @MarvinKlemp, @jkuchar and @timglabisch

[2018-03-01 08:07] #65 closed

[2018-03-01 11:26] smoench commented on #99
I don't think this is an good idea. It will break the single responsibility principle.

[2018-03-01 14:31] timglabisch commented on #99
the idea was that you can add the flag in ci systems to keep it up to date, but i guess you're right. going to close this issue.

[2018-04-26 13:46] JanPietrzyk opened #158 "Add ability to inherit from a parent layer"
Hi,

Verry nice tool indeed. I use it quite often for analyis and have noticed that the graphics generated usually work quite well for broad layers. When I'am trying to generate something more akin to a domain structure of an application I  tend to get quite hilarious graphs.

In these cases there are usually many layers with much fewer classes in them. For this case I would like to propose a impl

[2018-05-03 12:27] smoench commented on #139
@Ocramius feel free to review my solution in #160

[2018-05-24 19:28] smoench opened #164 "Load/instantiate collectors by FQCN"
Collectors could be loaded by FQCN if there are not pre registered then they should be instantiated.
Custom collectors could be used easily.

[2018-05-29 14:52] temp opened #165 "Implement a proper --version"
Right now it simply says "Console Tool".
Would be nice if it says something like "deptrac 0.2.0" or "deptrac dev-version"

[2018-06-08 18:16] maxkaemmerer opened #168 "DirectoryCollector not working"
Hi,

i'm trying to add my vendor directory as a layer to track dependencies.
I get the following error:

[code]
My configuration for the layer looks like this:
[code]
The configuration follows the documentation, I also tried different regex and escaping of the slash etc.

Any ideas?

Love this tool by the way ;)

[2018-06-08 19:33] maxkaemmerer commented on #168
Nevermind, did not add ./vendor to paths.

[2018-06-14 06:39] OskarStark opened #169 "I would like to use this lib, but it depends on a dev-master lib"
Problem 1
    - Installation request for sensiolabs-de/deptrac ^0.2.0 -> satisfiable by sensiolabs-de/deptrac[0.2.0].
    - sensiolabs-de/deptrac 0.2.0 requires sensiolabs-de/astrunner dev-master -> satisfiable by sensiolabs-de/astrunner[dev-master] but these conflict with your requirements or minimum-stability.

[2018-06-15 07:07] #139 closed

[2018-06-17 19:06] hgraca commented on #168
Bump! I'm having the same issue.

[2018-06-17 19:45] hgraca commented on #168
### How to reproduce this:

add this deptrac config to the root of this project:

[code]

run `deptrac`

If we remove the directory collector everything goes fine.

[2018-06-20 07:27] smoench commented on #168
You must add your `vendor`-dir to the `paths`-section

[2018-06-20 19:32] timglabisch commented on #168
i added a bug label, deptrac must not throw a "PHP Fatal error".

[2018-06-20 20:28] timglabisch commented on #168
@hgraca this seems to be releated to your xdebug settings. take a look at your `xdebug.max_nesting_level` setting.

[2018-06-20 20:38] hgraca commented on #168
@timglabisch true! disabling xdebug solved that issue, however now it has the initial problem:
[code]

and my yaml file contains:

[code]

[2018-06-20 21:29] timglabisch commented on #168
@hgraca well, i guess i fixed the issue. i'll create a new release tomorrow evening. if you cant wait, feel free to build the phar from the source.

[2018-06-21 18:08] timglabisch commented on #168
@hgraca should be fixed, pls. reopen if not :)

[2018-06-21 18:08] #168 closed

[2018-06-21 19:01] hgraca commented on #168
@timglabisch works like a charm!
thanks a lot man!

[2018-06-21 20:24] hgraca commented on #168
@maxkaemmerer Maybe this is interesting for you...
I experimented with this and I found that defining the vendor libraries as simply a folder is quite slow cozz it goes check all those files.
So I removed the vendors folder from the config and did this instead:

[code]

[2018-06-22 11:20] #89 closed

[2018-06-28 11:38] leonboot opened #173 "deptrac fails if user hase no write permission on the binary"
If `deptrac` is being executed by a user who has no write permissions on the actual `deptrac` binary, the following exception is being thrown:

[code]

Does the self-update mechanism perhaps trigger on every execution? This wasn't an issue before. Our last CI build from one week ago (June 21) ran fine, new builds fail because of this error. In our case, `deptrac` is being ran within a prepared Doc

[2018-07-02 06:04] maxkaemmerer commented on #168
Thanks @timglabisch works great now!
And thanks to @hgraca much faster that way ;)

[2018-10-17 21:35] timglabisch opened #181 "idea, replace nikic/php-parser with syntect"
deptrac highly depend on nikic/php-parser for parsing asts. Replacing it sounds crazy but we could give it a try :P

nikic/php-parser is fine but slow and just supports php.
just supporting php doesnt sound like a big deal, but even a typical php project consists of a bunch of different filetypes. supporting other languages would be really cool.

in my spare time i spend a lot of time playing with

[2018-10-19 20:41] smoench commented on #181
Php-parser is the state of art AST library allowing us with low maintenance be in sync with latest PHP versions thanks to nikic and contributors. Giving this away would be a drawback. Implementing a caching layer would be another solution.

Integrating other languages is a very nice idea. That would mean we have to rewrite deptrac in an other language. Your proposal would be a solution. I would be

[2018-10-26 11:52] ciaranmcnulty commented on #87
Am I crazy in thinking you could simply not list it on packagist?

[2018-10-29 09:07] smoench opened #185 "provide a shim repository"
deptrac could be safely installed via composer like [phpstan](https://github.com/phpstan/phpstan-shim) does.

[2018-10-31 16:50] #173 closed

[2018-11-05 10:01] torinaki opened #186 "Alpha version release"
Is it possible to prepare an ALPHA release, especially with jUnit output formatter?

Thanks in advance

[2018-11-05 20:19] smoench commented on #185
https://packagist.org/packages/sensiolabs-de/deptrac-shim 🎉

[2018-11-05 20:19] #185 closed

[2018-11-05 20:21] smoench commented on #186
Here you go https://github.com/sensiolabs-de/deptrac/releases/tag/0.3.0 😎

[2018-11-05 20:21] #186 closed

[2018-11-06 09:09] smoench opened #187 "(re-)integrate astrunner"
There are no benefits having/maintaining an extra repository. https://github.com/sensiolabs-de/astrunner

[2018-11-06 12:51] temp opened #188 "Building 0.3.0 phar fails"
Can't seem to create the phar with version 0.3.0.

[code]

Building it manually:

[code]

[2018-11-06 13:34] smoench commented on #188
Box version 2.x is not supported anymore. Please upgrade to the latest Box version 3.x https://github.com/humbug/box/releases.

Why do you need to build your own Phar?

[2018-11-06 14:30] temp commented on #188
Works fine with box 3.x 👍

[2018-11-06 14:30] #188 closed

[2018-11-06 14:42] smoench commented on #188
You can download the lastest Phar's at https://github.com/sensiolabs-de/deptrac/releases. Works fine with docker.

You might give https://github.com/jakzal/phpqa a try

[2018-11-06 15:21] temp commented on #188
Would love to see support for phive. Is this planned for the future?
Thanks for the hint to the qa docker image. Our image is a little bit specific, but will give it a shot.

[2018-11-06 15:32] smoench commented on #188
Yes, it is possibile https://github.com/sensiolabs-de/deptrac#phive but our phar isn't signed

[2018-11-06 17:05] temp commented on #188
This thread is really inspiring :-D
Didn't know about --force-accept-unsigned, thanks again!

[2018-11-07 10:23] smoench opened #189 "Bump minimum PHP version to 7.1"
Add nullable Typehints and remove related docblocks.

[2018-11-14 13:02] #189 closed

[2018-11-16 08:18] #187 closed

[2018-11-16 16:09] DavidBadura commented on #50
closed because not relevant anymore. we support several types of installation.

[2018-11-16 16:09] #50 closed

[2018-11-16 16:10] DavidBadura commented on #71
duplication of #144

[2018-11-16 16:10] #71 closed

[2018-11-16 16:13] DavidBadura commented on #181
I also believe that it should not be the scope of this project to support other languages. That should be done in a separate project.

[2018-11-23 13:06] #165 closed

[2018-11-29 15:50] torinaki opened #199 "Skip violations"
We are tried to integrate deptrac into CI/CD pipeline and faced with the issue that is complicated to skip existing violations.

The current solution is to create rules which ignore exact files like:
[code]

Proposed solution:
1. Add new section into YAML configuration where I can specify rules to ignore specific violations (using regexp)
2. Add skipped violations into JUnit report (see https://gi

[2018-12-10 12:05] 1ma opened #202 "Allow Transitive Dependencies"
#### Problem
`deptrac` only allows explicit dependencies listed in the ruleset and sometimes the list can get quite unwieldly, especially when there's lots of layers (e.g. a DDD project with 3 layers per bounded context and upstream relations). In these situations it would be handy if `deptrac` allowed transitive dependencies (IOW if B can depend on A and C can depend on B then C should be able to

[2018-12-19 12:12] dbalabka opened #205 "Empty jUnit report when all checks passed"
In a case when all checks are passed JUnit report has no successful test cases:
[code]
Some CI/CD tool might treat this as failure or warning, because of missing assertions/tests.

Would be great to include all successfully passed layers into JUnit report.

[2018-12-21 08:53] #199 closed

[2019-01-06 16:34] #144 closed

[2019-01-16 22:54] ohartl opened #207 "Configurable cache file path"
As caching for parsed files was added in #195, it would be great to be able to configure the cache file path. Reason being that every project is different and some may have dedicated directories for "tmp build files" (which e.g. I have)

To make configuration as flexible as possible, both methods of within the Depfile and an option `--cache-path=<path>` would be great.

It would also be great to o

[2019-01-19 11:49] rainbow-alex opened #208 "Slow. Cache not working?"
Hi. I am trying out deptrac on a relatively large project, and it seems slow to me.

The paths I added contain 2490 files. I have no layers or rulesets.
I'm using deptrac.phar from the releases page, version 0.4.0. Php 7.2 with xdebug disabled.

The first run takes ~50 secs. Presumably the cache file brings it down to ~30 secs on subsequent executions. I can live with adding 30 secs to our CI buil

[2019-01-21 09:34] smoench commented on #207
The easiest solution would be `--cache-path=<path>` option. Having options/parameters in depfiles would be also great, but needs more refactoring.

[2019-01-21 09:41] smoench commented on #208
Hi @rainbow-alex, what time would be used when you run deptrac with the `--no-cache` option and compared with deptrac v0.3?

[2019-01-21 18:09] rainbow-alex commented on #208
0.4 with `--no-cache`: ~5s
0.3: ~5s

So definitely something up with the cache!

The cache file that gets generated is 61M... Is it necessary to store the entire AST? What if you extracted the nodes with names and types as an intermediate form and cached that?

[2019-02-12 20:55] smoench opened #212 "check for missing statements / dependencies"
catch statements were missing but will be added with #211

group uses might be missing ...
closures?

[2019-02-12 20:57] timglabisch commented on #212
good catch :)

[2019-02-14 14:16] smoench commented on #208
I started with https://github.com/sensiolabs-de/deptrac/pull/211 which will improve overall performance and caching mechanism.

[2019-02-21 08:33] smoench commented on #208
Hey @rainbow-alex, would you be so kind giving me some feedback for #211 :-) I did some performance testing with lastest symfony source code and it was very impressively fast. Atm you must have a checkout of this repository but I also could provide a .phar when needed. You might remove your cache file first as the checkout has no proper version.
Thanks in advance!

[2019-02-22 14:29] smoench commented on #208
#211 got merged into master :-)

[2019-02-22 14:29] #208 closed

[2019-02-24 12:40] DavidBadura commented on #212
#211 got merged into master

[2019-02-25 06:38] smoench commented on #212
Only catch statements were added with #211 but we should check if there are more missing

[2019-03-04 08:58] rainbow-alex commented on #208
@smoench sorry I missed your notification. I'll give it a try asap.

[2019-03-07 10:06] amenk opened #218 "Can we read the rules somehow from composer.json"
Would it make sense to read the dependencies from composer.json files in the module directories?
Or for different frameworks like Magento from the module sequence config?

[2019-03-07 19:55] rainbow-alex commented on #208
@smoench this is excellent!

[code]

I look forward to trying this out :)

[2019-03-11 17:56] #207 closed

[2019-03-12 16:45] amenk opened #220 "Installation: Why we --force-accept-unsigned"

[2019-03-12 17:19] smoench commented on #220
We did not provide signature. I added one for the latest release. Could you confirm it is working now without `--force-accept-unsigned`?

[2019-03-13 07:51] amenk commented on #220
Wörks well:

	Successfully downloaded key

		Fingerprint: 088B 7289 7980 555C 6E4E F669 3C52 E7DE D5E2 D9EE

		Simon M%C3%B6nch <simon.moench@sensiolabs.de> (2019-03-11)

		Created: 2017-11-14

	Import this key? [y|N]

[2019-03-13 07:51] #220 closed

[2019-03-13 07:52] amenk commented on #220
Create a ticket for the "ö" https://github.com/phar-io/phive/issues/181

[2019-03-16 13:22] timglabisch commented on #218
from my point of view it wouldn't make a lot of sense because the structure of module directories are not really your architecture.

[2019-03-16 13:23] amenk commented on #218
In the Magento 2 project there are composer.json files for each of it's own modules. Was just an idea...

[2019-03-16 14:53] timglabisch commented on #218
Can you go further and explain the background of this idea? Which architectural questions would this feature help you with?

[2019-03-16 17:59] amenk commented on #218
The question to answer is, if all modules used are defined in the composer.jsom and if only modules declared in such way are used.

In magento core modules and own modules.

Core seems to do such already with manually defined dependencies and without the use of deptrac:

https://github.com/magento/magento2/blob/2.3-develop/dev/tests/static/testsuite/Magento/Test/Integrity/Library/DependencyTest.ph

[2019-03-18 08:19] LeoVie opened #222 "Deprecated Graphviz windows download link in README.md"
The Graphviz download link in the README.md is not valid anymore (it redirects to a 404 page).
To fix this replace
`Graphviz is also available for [Windows](http://www.graphviz.org/Download_windows.php)`

with
`Graphviz is also available for [Windows](https://graphviz.gitlab.io/_pages/Download/Download_windows.html)`

[2019-03-19 10:36] #222 closed

[2019-03-21 13:36] smoench commented on #181
Closing as it is out of scope and might be created as its own project :-)

[2019-03-21 13:36] #181 closed

[2019-03-21 13:37] smoench commented on #112
Signatures will be published with every new release :-)

[2019-03-21 13:37] #112 closed

[2019-03-21 13:40] smoench commented on #218
Could you provide an example composer.json and an example how it would be mapped to a deptrac configuration?

[2019-03-21 14:02] jakzal commented on #112
Thanks! Although since I made the request, I changed my mind about usefulness of signature :)

[2019-03-21 14:14] smoench commented on #21
@timglabisch what did you mean with routing? Could you provide a description or could we close this issue?

[2019-03-21 18:04] amenk commented on #218
composer.json: https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Catalog/composer.json

For the mapping:

take all the modules in the composer.json
(for example this one: https://github.com/magento/magento2/blob/2.3-develop/app/code/Magento/Authorization/composer.json)

Extract the psr-4 autoload path

Add this one to the allowed references in deptrac

Repeat with all composer

[2019-03-21 18:26] amenk commented on #218
paths:
	  - ./app/code
	exclude_files:
	  - .*test.*
	layers:
	  - name: magento/module-catalog
	    collectors:
	      - type: className
		regex: Magento\\Catalog\\.*
	  - name: magento/module-backend
	    collectors:
	      - type: className
		regex: Magento\\Backend\\.*
	  - name: magento/module-catalog-inventory
	    collectors:
	      - type: className
		regex: Magento\\CatalogInventory\\.*

[2019-03-22 06:51] #21 closed

[2019-04-03 06:35] shochdoerfer commented on #218
I think we would need to have 2 specific parts in place for some basic architectural checks for Magento: Deptrac would need to read the etc/modules.xml for every module to see which other modules it depends on and then extract the namespaces from the composer.json files.

Since this is very Magento specific it might be a good idea to offer some extension points so that projects  could provide laye

[2019-06-11 23:47] jakzal opened #231 "Make deptrac complain about namespaces that don't belong to any layers"
Given the following config:

[code]

Everything works as expected within the defined layers.

However, any layer can depend on namespaces that are not defined as layers yet. At the moment if someone introduced a dependency on `Symfony\Component\DependencyInjection\ContainerInterface` in `Foo\Domain`, deptrac wouldn't complain.

Things can be easily missed this way. Any newly introduced dependency

[2019-07-12 09:57] rpkamp opened #237 "bool collector not working as documented"
We used the `bool` collector in our project and found that it does not work as described in the `README`.

## Example configuration
[code]

## Expected result
Going from the documentation this should collect any class that (either starts with `Foo` or `Tests\Foo`) and does not match `Bar`

## Actual result
What we found is that it collects only classes that start with `Foo` AND start with `Tests\F

[2019-07-12 11:02] timglabisch commented on #237
docs are wrong here, good catch. do you want to fix it in the docs?

[2019-07-12 11:29] rpkamp commented on #237
Sure, I'll send a PR later :slightly_smiling_face:

[2019-07-12 13:03] josefsabl opened #238 "Anonymous class extending class from different layer not resolved as dependency"
Let's assume this:

[code]

This doesn't get resolved as layer B being dependent on layer A.

[2019-07-12 13:56] josefsabl opened #239 "::class construct not resolved as dependency"
Let's assume:

[code]

This doesn't get resolved as layer B being dependent on layer A.

PS: Yeah, I know that this returns 'A\MyClass' string even if the class does not exist but I am sure it still counts as a dependency.

[2019-07-12 13:59] josefsabl opened #240 "Resolving docblock annotations"
I think that it would be very useful if docblock annotations were resolved as dependencies. I. e.

[code]

This would resolve as B being depndent on A.

[2019-07-15 18:54] smoench commented on #240
I started #224 but some test cases must be added.

[2019-07-17 10:50] josefsabl commented on #202
It could be useful for some architectures. I think this would, however, be better if you could specify this in the ruleset, not as a global flag. Parts of your system may have different rules.

[2019-07-19 14:27] smoench commented on #239
I added #241 it is based on #224 which should merged before. Feedback is welcome.

[2019-07-22 09:55] #240 closed

[2019-07-22 15:04] #239 closed

[2019-07-24 08:03] #238 closed

[2019-07-28 18:37] #237 closed

[2019-08-31 20:11] weedySeaDragon opened #260 "README should state that this applies only to PHP"
I suggest that you update the README to explicitly state that this works only for `php` code.

I came across this from a blog post and am really intrigued.  But in reading through the README, it _seems_ that this only applies to `php` code. (I'm disappointed because that's not a language I'm working with.)  I don't think this is explicitly stated anywhere, but it should be.  (And if I've missed so

[2019-09-01 07:49] dbrumann commented on #260
Thanks for the suggestion. You are right, this only works for PHP and it might help safe people time finding this out if it is stated explicitly early on.

[2019-09-02 07:31] #260 closed

[2019-09-17 13:35] smoench commented on #231
It has nothing todo with collectors as all dependencies will be collected. The [RulesetEngine](https://github.com/sensiolabs-de/deptrac/blob/master/src/RulesetEngine.php#L27) ignores classes without any layer. We need to refactor the RulesetEngine to adapt violations, skipped violations and uncovered dependencies to the [DependencyContext](https://github.com/sensiolabs-de/deptrac/blob/master/src/A

[2019-09-20 09:42] smoench commented on #231
@jakzal I added an POC #266 how uncovered dependencies could be tracked

[2019-10-09 15:36] DaveLiddament opened #268 "Add support for sarb.json output format to baselines can be made"
Add the [sarb format](https://github.com/DaveLiddament/sarb/blob/master/docs/SarbFormat.md) to list of output format. This allows deptrac to be used with [SARB](https://github.com/DaveLiddament/sarb) to create baselines, useful for adding deptrac to legacy projects.

See: https://github.com/DaveLiddament/sarb/issues/48

[2019-10-10 12:15] timglabisch commented on #268
we should not support sarb directly (because we dont want to maintain this dependency).
May we could support a deptrac specific format that has all the information sarb could use.

[2019-10-10 12:35] smoench commented on #268
@timglabisch Really? Should we remove the jUnit support also and say to all tools they should adapt out specific deptrac format instead?

[2019-10-10 14:11] timglabisch commented on #268
why not integrate tools like this the same way it integrates with psalm? -> https://github.com/DaveLiddament/sarb/blob/master/docs/Psalm.md#using-psalms-text-format

pros:
- we don't have to deal/maintain with a format we don't really know / use.
- the sarb author can improve the format without any BC's in deptrac.
- other projects could do it the same way.

i don't see any pro to maintain support

[2019-10-10 14:19] smoench commented on #268
As I proposed in https://github.com/DaveLiddament/sarb/issues/48 SARB could integrate/adapt jUnit. This would open the support for more tools.

[2019-10-10 14:29] timglabisch commented on #268
this would be really cool. SARB would benefit from this approach and deptrac.

if some informations are missing, we could think about extending the jUnit xml (using some kind of flag) and extend it in a different XML namespace. i don't know if this is a good and practicable solution. But may we could think about something like this.

[2019-10-10 14:37] smoench commented on #268
You may have a look on https://github.com/sensiolabs-de/deptrac/pull/266 which would allow us to have a full support for jUnit and solve https://github.com/sensiolabs-de/deptrac/issues/205.

[2019-10-10 17:05] timglabisch commented on #268
i proposed a format -> https://github.com/sensiolabs-de/deptrac/pull/270
currently the path to the file is not part of deptracs internal structure.
we've to change this and add to my PR to support SARB. I Guess @DaveLiddament already started to work on this in his original PR.

[2019-10-18 14:19] #212 closed

[2019-11-26 10:34] Ocramius opened #277 "Allow installation as `composer` dev-dependency"
While looking at a project where updates had to be manually performed, deptrac popped up as one of the tools requiring manual care.

I'd much rather rely on a streamlined `composer update` that performs a clean installation in `vendor/bin/deptrac` (as symlink or phar), and which checks for CVEs and similar issues together with most of the packagist ecosystem.

Deptrac currently doesn't support thi

[2019-11-26 13:06] DavidBadura commented on #277
The https://github.com/sensiolabs-de/deptrac-shim is not a solution? It has a "binary" in composer.json ;-)

[2019-11-26 13:08] Ocramius commented on #277
Oho, nice, didn't know 👍

[2019-11-26 13:09] Ocramius commented on #277
Aaaaaand serves me well to do `CTRL+F` and `composer install` search 😬

[2019-11-26 13:09] #277 closed

[2020-01-13 12:28] ayacaste opened #280 "Analyze global functions"
For directory collectors analyze dependencies from global functions.

[2020-01-28 13:06] smoench opened #282 "GitHub Action Output formatter"
We could add an action output formatter which will address violations as annotation ->
https://help.github.com/en/actions/automating-your-workflow-with-github-actions/development-tools-for-github-actions#set-an-error-message-error

[2020-02-05 09:48] smoench commented on #231
@jakzal can you have a look at https://github.com/sensiolabs-de/deptrac/pull/285 and give me some feedback if this fits your needs 😃

[2020-02-05 11:06] jakzal commented on #231
@smoench I will as soon as I can, thanks for working on this!

[2020-03-05 11:47] lezhnev74 opened #291 "Add file names in the output to integrate with Git hooks"
Hello!
As of now, deptrac outputs things like:
[code]

As you can see it reports FQCN with no file names. This prevents using it with git hooks. Ideally I want to build a system which would run deptrac only for committed files, but currently that is not possible:
- deptrac only works with a config file (so I can't give certain files as input)
- deptrac does not output file names, so I can't to com

[2020-03-27 13:56] #205 closed

[2020-03-27 14:27] smoench commented on #291
With the upcoming release the filename will also be printed, see #285.
But IHMO there is no need passing only committed files to deptrac as it is creating a cache file and only changed files will be analysed again.

If your master-branch contains violations you might be interested in https://github.com/DaveLiddament/sarb. There is no support for deptrac yet but the author would be happy about an P

[2020-04-04 10:29] umulmrum opened #293 "Disable Xdebug"
Hi,

when analyzing a larger codebase (or just adding vendor), deptrac is quite slow if Xdebug is enabled. Also in my case the max nesting level needs to be adjusted.

So maybe it makes sense to disable Xdebug just like Composer does - maybe https://packagist.org/packages/composer/xdebug-handler can be used?

[2020-04-10 10:07] #293 closed

[2020-04-20 08:08] #231 closed

[2020-04-21 06:24] smoench commented on #49
resolved by #297

[2020-04-21 06:25] #49 closed

[2020-04-21 14:49] martijnpolak opened #299 "Add separate cache file for each depfile"
When you run deptrac with a different depfile it clears the existing cache. This means that whenever we want to use separate depfiles for different contexts (as the readme suggests we should do) the caching essentially doesn't work since the existing cache file can't be re-used next time we analyze.

Example:
[code]
takes 14 seconds, create a 7mb cache file. The next time we run this command it's

[2020-04-21 18:12] smoench commented on #299
Well, there are to options you can use. One would be run deptrac with disabled cache `--no-cache` or the other would be define a different cache file with `--cache-file=.deptrac.cache`.

Your commands could be changed as followed:
[code]
[code]

[2020-04-23 11:21] #299 closed

[2020-04-24 09:45] martijnpolak commented on #299
Ah I didn't realise there was a `--cache-file` option, must have missed it in the documentation. Apologies and thanks for the response!

[2020-04-24 09:49] smoench commented on #299
No need for an apologies. It is not documented yet only via `deptrac help`

[2020-05-02 21:39] umulmrum opened #301 "Scan breaks on certain docblocks in 0.7.0"
Hi,

thanks for releasing v0.7.0. Unfortunately my setup breaks now because of some docblocks.

I include the vendor dir to be able to detect usages of external dependencies (this is much faster than in 0.6.0!). When scanning e.g. PHPUnit 9.1, this error occurs:

[code]

This can be traced back to the docblock of `\PHPUnit\Runner\TestSuiteSorter::resolveDependencies` where this line can be found:

[2020-05-03 22:14] kowalk commented on #301
Same here, type hint from code: `array<string, array<int, array<int, int|string>>>` and the output is:

[code]

[2020-05-04 08:27] smoench commented on #301
@umulmrum @kowalk Thanks for reporting so detailed. I could reproduce your exceptions and also could provide a fix.

Would it be possible you could prove #302 is working for you?
You will find a phar-file artifact in the build pipeline -> https://github.com/sensiolabs-de/deptrac/pull/302/checks?check_run_id=642148367

Thanks in advance!

[2020-05-04 10:14] #301 closed

[2020-05-04 10:38] smoench commented on #301
I released a new version https://github.com/sensiolabs-de/deptrac/releases/tag/0.7.1

[2020-05-05 10:59] kowalk commented on #301
All seems to be working right now! Thanks :)

[2020-05-28 10:55] jtaylor100 opened #304 "PHPStan Not Part of the Normal Build"
Looks like the Makefile currently has directives for static analysis from PHPStan, but this is not included in the main `build` directive. Nor is phpstan included as a dev dependency.

[2020-05-28 11:33] jtaylor100 commented on #282
@smoench Please can you assign this to me

[2020-05-28 11:44] smoench commented on #282
@jtaylor100 Sure, thanks for the takeover

[2020-06-01 06:32] hugochinchilla opened #306 "Provide flag to fail if uncovered dependencies found"
Hello, I'm using this on a gitlab pipeline to reject code which doesn't follow the dependency rules, it works great, thanks for this wonderful piece of software.

I would like to be able to be a bit more strict about breaking the rules and there is a case where new external dependencies can be added to the codebase and if not added to the list of vendor namespaces in the depfile they can be used o

[2020-06-04 12:42] smoench opened #309 "Add `extends` and `traitUse` collectors"
Similar to the `ImplementsCollector` collectors for `extends` and `traitUses` should be added.
In `AstRunner\AstMap\AstInherit` methods for other types `https://github.com/sensiolabs-de/deptrac/blob/master/src/AstRunner/AstMap/AstInherit.php#L11 must be added.

[2020-06-04 14:03] timglabisch commented on #309
extends is a bit misleading. `inherits` would be good?

when `InterfaceA extends interfaceB` it should be up the the `ImplementsCollector` and not the `ExtendsCollector`

what do you think?

[2020-06-05 07:30] #306 closed

[2020-06-05 07:47] smoench commented on #282
resolved by #305

[2020-06-05 07:47] #282 closed

[2020-06-05 15:18] smoench commented on #309
Here are some more ideas :-)

- `ClassInheritanceCollector`
- `InterfaceInheritanceCollector`
- `TraitUseCollector`

[2020-06-08 13:38] #304 closed

[2020-06-09 08:16] smoench opened #313 "Integrate jetbrains/phpstorm-stubs"
for not blaming about internal or extension classes as violations.
Should be configurable but enabled by default.

[2020-06-10 07:13] #309 closed

[2020-06-19 06:58] smoench opened #317 "Check why the Symfony 5.1 upgrade increased the phar file size from ~800kb to ~2.1mb"

[2020-06-19 07:11] #317 closed

[2020-07-01 09:57] smoench opened #318 "Enable GitHub Actions formatter automatically"
In a GitHub Actions CI we could enable the formatter with checking for the env `GITHUB_ACTIONS` or using https://github.com/OndraM/ci-detector. The console formatter needs to be disabled then.

[2020-07-05 15:48] githoober opened #319 "'Report uncovered' does not work properly with PHP built-in function/classes if they are imported"
[code]

Running the tool produces the following false positives:
Baz\A has uncovered dependency on get_class (....)
Baz\A has uncovered dependency on LogicException (....)

[2020-07-06 06:52] smoench commented on #319
@githoober Which version of Deptrac are you using?

[2020-07-07 01:24] githoober commented on #319
@smoench I am using the latest one: 0.8.0

[2020-07-10 10:06] smoench commented on #319
@githoober Can you try if #322 is working for you. You'll find a phar file in the build artifacts https://github.com/sensiolabs-de/deptrac/actions/runs/164376939 you can use.

[2020-07-10 14:38] #319 closed

[2020-07-10 14:39] #318 closed

[2020-07-10 14:50] githoober commented on #319
@smoench I am happy to confirm the issue is fixed. Thanks for the prompt patch.

[2020-07-10 17:34] smoench opened #325 "add option to report uncovered dependencies for GitHubActionFormatter"
The console formatter already has this option. Uncovered could be reported as "error" or "warning".

[2020-07-10 17:37] smoench opened #326 "Improve console formatter output"
The output of the console formatter could be improved and formatted as a table.

[2020-07-10 21:44] umulmrum opened #327 "Add debug command"
Hi,

it would be great to have a debug command like e.g. Symfony has for routing or config. Not sure what exactly this command should show, but what I hope for is a way to see which classes are in which layer(s) so that flaws in the depfile can be found more easily.

Thanks!

[2020-07-10 21:52] umulmrum opened #328 "Set document root for directory collector"
Hi,

I'm using the directory collector to add the complete src directory to a layer. My first try was this one:

[code]

This works fine, but is a relative path, so if a subpath of an unrelated path matches (e.g. a src directory in vendor), it will also be part of the layer, which is not what I intended.

Next try was matching only the beginning of the string like this:

[code]

But this didn't ma

[2020-07-11 12:06] jschaedl commented on #325
I could work on this one :-)

[2020-07-14 14:49] LeSuisse opened #329 "Some Psalm annotations/types break the scan"
Similar to #301.

While playing with AmpPHP [[0]](https://github.com/amphp/amp/blob/v2.4.4/lib/Internal/ResolutionQueue.php#L18) I encountered a crash of deptrac: `InvalidArgumentException: "\Amp\Internal\array-key" is not a valid Fqsen.`

It looks like the following [specific scalar types supported by Psalm](https://psalm.dev/docs/annotating_code/type_syntax/scalar_types/) crash the scan: `array-

[2020-07-14 18:00] smoench commented on #328
Hi @umulmrum, what would you think about introducing a predefined parameter `%currentWorkingDirectory%` which contains path where deptrac was executed?

[2020-07-14 18:07] smoench commented on #327
Hi, I think there are two possibilities. One would be a list of all classes grouped by the layer (might be hard to read). The other would show the layers for one class.

[2020-07-15 06:57] smoench commented on #329
Internally I'm using the phpDocumentor/TypeResolver I asked them if it is possible to integrate those types there.

[2020-07-15 07:00] umulmrum commented on #328
As a first step, maybe we should consider interpreting paths in the depfile relative to the depfile location, so that execution only depends on static information and not on any runtime conditions like the working dir.

If you are open to this change, we'd need to think about the implications, like whether configuration by regex still makes sense (if the depfile isn't in the project root, paths co

[2020-07-15 07:13] umulmrum commented on #327
Why not both? :-)

You're right, the list of classes by layer can be huge, but output can still be redirected to a file and inspected there. This way we can see if a layer contains the correct files or is even empty. Checking this for each class separately would be really cumbersome.

[2020-07-17 06:22] umulmrum opened #331 "Scan scripts without classes"
Hi,

sorry for spamming issues ;-)

I'm currently working on a legacy system that still contains lots of scripts with procedural non-OO code. Violations of rules in these scripts are currently undetected, and it would be great if deptrac could find those. Scripts could be added to a layer e.g. by using the DirectoryCollector. Not sure if it's feasible to reliably detect `include`s/`require`s thoug

[2020-07-17 08:15] smoench commented on #331
Well, technically they are scanned and even analyzed (uses will be tracked) ;-)
I need to think about if it's worth it 🤔

[2020-07-17 08:36] smoench commented on #331
FYI: It is possible to detect `include`s and `require`s with following expression https://github.com/nikic/PHP-Parser/blob/master/lib/PhpParser/Node/Expr/Include_.php

[2020-07-20 21:32] smoench commented on #327
Both are possible ;-)

For now you can try the junit output formatter. There are all dependencies be written. With a plug-in for your ci you might a nicely overview.

[2020-07-21 19:08] DanielBadura opened #332 "Default file from depfile.yml to depfile.yaml"
What do you think of changing the extension from `.yml` to `.yaml` for the default file?
This  would be the preferred way https://yaml.org/faq.html suggests.

Maybe we could for now add a bc layer even if is not needed for better DX and check if a `depfile.yml` exist and if not try to load `depfile.yaml`?

[2020-07-23 03:37] eliseuborges opened #333 "unknown collector type "extends""
Hey guys,

Using **deptrac.phar V0.8.1**,  I am receiving the error below when I try to use this sintaxe which I extracted on documentation. Similar behaviour is also happening when I try to use "inherits" sintax

[code]

**In Registry.php line 28: unknown collector type "extends", possible collectors are bool, className, classNameRegex, directory, inheritanceLevel, implements, method**

Am I doin

[2020-07-24 11:46] #325 closed

[2020-07-24 11:47] #333 closed

[2020-07-24 12:01] #332 closed

[2020-07-24 13:06] #329 closed

[2020-07-24 15:59] eliseuborges commented on #333
Thanks!!!

[2020-08-02 14:45] jsamouh opened #349 "Error Analysis psalm ?"
My error
`
In Fqsen.php line 57:

  "\Psalm\Example\Plugin\non-empty-string" is not a valid Fqsen.
`

My config:
`
paths:
  - ./src
  - ./vendor
exclude_files:
  - Assertion.php
  - Enum.php
  - Uuid.php
layers:
  - name: Domain
    collectors:
      - type: directory
        regex: src/Domain/.*
  - name: Infrastructure
    collectors:
      - type: directory
        regex: src/Infrastructure/.*

[2020-08-02 16:06] jsamouh commented on #349
is it related to https://github.com/phpDocumentor/TypeResolver/issues/111 ?

[2020-08-03 07:15] smoench commented on #349
Might be. But I couldn't find any documention about `non-empty-string`. Only `non-empty-array` and `non-empty-list` are documented.

[2020-08-06 10:46] josefsabl opened #351 "False positive: How can this be a violation?"
The PHP code:

[code]

depfile.yml

[code]

Result of analysis:

[code]

Looks like the fact that the method is private is ignored. I would understand this as violation if it was protected.

[2020-08-06 10:58] josefsabl commented on #351
What is worse, the Bar class don't need to expose the dependency in its interface at all it looks like it just to need to use it internally to trigger the violation.

[code]

This also triggers the violation for same configuration.

[2020-08-06 11:10] josefsabl opened #352 "Optionally hide the skipped violations and warn that skipped violation is already non-existent"
Due to this bug #351 we have the output full of skipped violations which is extremely annoying and makes the real violations hard to debug. Please, add the option to disable the skipped violations altogether.

Also there is a neat feature in phpstan that would be applicable in this context. If the skipped violation (or excluded error in the case of phpstan) is no longer present (is fixed), phpstan

[2020-09-02 12:49] #164 closed

[2020-09-02 12:50] smoench commented on #19
resolved by #320

[2020-09-02 12:50] #19 closed

[2020-09-21 06:55] smoench opened #375 "Add support for attributes"
php-parser has added support for attributes with [version 4.10](https://github.com/nikic/PHP-Parser/blob/master/CHANGELOG.md#version-4100-2020-09-19).

[2020-09-21 09:40] smoench opened #376 "[GithubActionsOutputFormatter] print inherit path"
The inherit path should also be printed. Newlines are possible with `%0A` instead of a `\n`.

[2020-10-19 14:55] #326 closed

[2020-10-23 11:02] #376 closed

[2020-10-23 14:00] smoench commented on #352
@josefsabl there is an open PR #403. Can you give it a try? In the build artifacts you'll find packed phar file.

[2020-10-27 18:17] #352 closed

[2020-10-30 14:50] rask opened #412 "PHP 8 support"
Any timeline for PHP 8 support, and/or can users help in that regard in any way?

I saw an issue talking about attributes, but not seeing anything else regarding PHP 8 after a quick browse.

[2020-10-30 14:59] smoench commented on #412
No, not yet. One big step having PHP 8 support was todays 0.9 release as I may can drop older PHP version.
I rely on box and php-scoper and they are not ready for PHP 8 yet.

[2020-11-03 10:12] mente opened #413 "0.8.2 -> 0.9.0 2x performance degradation in CI"
Hello everyone,

We've tried out update the version from latest deptrac-shim 0.8.2 to 0.9.0 and discovered 2-3 times performance degradation of the deptrac in CI. We do use caching within Gitlab CI.

Here how it looks like:

[code]

and we have another 10 of these in CI job (for different deptrac files).

I've manually checked locally and it works fast (caching warmed up upfront).

[code]

Anythin

[2020-11-03 10:22] smoench commented on #413
Hi @mente,

Deptrac invalidates the cache on a version bump.
Have you tried a second run? So deptrac can use the new generated cache file.

Are you using the graphviz formatter? If not you can safely remove the `--formatter-graphviz-display=0`-option

[2020-11-03 10:40] mente commented on #413
Hey @smoench

Thanks for your prompt reply!

That was it. We share deptrac cache between multiple branches and it looks like cache for the branch with newer deptrac got invalidated by other branches.

good to know, will do.

Once again thanks, will close the ticket.

[2020-11-03 10:40] #413 closed

[2020-11-05 13:11] PtrTn opened #414 "Baseline dump documentation incomplete"
### Summary
When dumping a baseline to a file the `--formatter=baseline` has to be used or output will be sent to console instead. This information is not included in the [readme](https://github.com/sensiolabs-de/deptrac#baseline-formatter)

### Background
The documentation [here](https://github.com/sensiolabs-de/deptrac#baseline-formatter) specifies the following example:
```--baseline-dump[=BASE

[2020-11-16 10:42] marcosh opened #416 "Deptrac fails on invalid PHP8 code"
running deptrac on my codebase fails due to some code which is invalid in PHP 8 (see https://github.com/nikic/PHP-Parser/issues/715).

This is due to the fact that `PhpParser` is created with option `PREFER_PHP7`, which actually tries to parse the code as if it was PHP 8.

Could it be better to use `ONLY_PHP7` directly? Or even to expose as a configuration parameter the choice of the parser versio

[2020-11-16 11:27] smoench commented on #416
Thanks for reporting.

The issue is not about using `PREFER_PHP7` but using an emulative lexer which has become the default one in php-parser.
The fix might be passing a non emulative lexer as a second parameter here https://github.com/sensiolabs-de/deptrac/blob/master/src/AstRunner/AstParser/NikicPhpParser/ParserFactory.php#L13

[2020-11-16 13:40] muratyuksel commented on #412
A comment about dropping older PHP version: this tool is also useful when you start refactoring a legacy codebase. Add simple rules, refactor offenders, add more repeat... Unfortunately now when I want to refactor a codebase stuck at PHP 7.1 version, I have to use 0.6 version, which doesn't support collectors extends, implements etc. If there is no urgency (like blocking a feature etc.) I would ke

[2020-11-16 14:20] marcosh commented on #416
Right!

I'd like to do a PR for this. What do you suggest? Having a fixed lexer or making it configurable, with `PHP_7_4` as the default option?

[2020-11-17 08:29] smoench commented on #412
@rask #417 allows PHP 8 now. The build actions workflow produces a phar file. Can you try it?

[2020-11-17 16:27] smoench commented on #416
Can you try this approach?
[code]

[2020-11-18 19:11] smoench commented on #416
I added a fixed Lexer in #417

[2020-11-19 08:30] rask commented on #412
Quite busy at the moment with other stuff, but will let you know in case I get to test it out soon. Thanks and sorry!

[2020-11-19 13:16] josefsabl commented on #352
I am sorry, I switched to `phpat` due to the fact that deptrac practically stopped working for us. It started to notify for non-existent (#351) violations and also stopped reporting real violations. I firmly believe it could be some quirk or maybe error on our side. But that's it. Thank you for this tool.

[2020-11-20 08:49] #412 closed

[2020-11-20 08:49] #416 closed

[2020-11-20 14:18] marcosh commented on #416
nice, thank you!

[2020-12-07 13:49] pascaldevink opened #431 "Using deptrac 0.10.1 with php 7.4 results in error"
I noticed that using recently released 0.10.1 phar file yields this error when called with PHP 7.4:
[code]

Using the 0.10 phar release, it just works. Same with using PHP 8.0 to run 0.10.1.

It seems to me that the PHP 8 polyfill isn't loaded in this release. Maybe it's a build configuration setting?

[2020-12-07 14:14] smoench commented on #431
Thanks for reporting. It should be fixed with https://github.com/sensiolabs-de/deptrac/pull/429.
A new release is needed.

[2020-12-07 14:38] fefas commented on #431
just got same problem here :/

[2020-12-08 18:21] smoench commented on #431
I've released a new version https://github.com/sensiolabs-de/deptrac/releases/tag/0.10.2

[2020-12-08 18:21] #431 closed

[2020-12-08 22:18] fefas commented on #431
Thanks @smoench :)

[2020-12-14 00:10] eliseuborges opened #432 "Integration with phpstorm"
Hey guys, first of all, congratulations for this tool! It is easy and amazing.

My question is: Is it possible to use this tool integrated with phpstorm like sonarlint? Would be so nice see all report at phpstorm toolbar or even at Problems toolbar

Thanks in advance.

[2020-12-14 11:43] domg92 commented on #414
It would be great to have this clearly written in docs 🙏

[2020-12-22 12:01] smoench commented on #414
Readme has been updated

[2020-12-22 12:01] #414 closed

[2020-12-22 12:12] smoench commented on #351
This is an indirect dependency. Deptrac does is only a static analyser and doesn't know about the runtime path. I could imagine the private function is being used by a protected or public method in `Bar` which itself is being used by `Foo` or will be promoted to the public methods of Foo. If none of this is true this method is probably unused and can be safely deleted or you have might have a bad

[2020-12-22 12:12] #351 closed

[2020-12-22 12:14] smoench commented on #268
Deptrac ships a XML formatter and even a Baseline formatter.

[2020-12-22 12:14] #268 closed

[2020-12-26 21:11] nlefebvre1410 opened #448 "must not depend on Doctrine\Bundle\DoctrineBundle\Repository\ServiceEntityRepository (Repository on Service)"
**deptrack.yaml:**

[code]

**Good evening,
How can you not have this error under symfony 4?
thank you in advance**

[2020-12-27 14:15] nlefebvre1410 commented on #448
solution
[code]

[2020-12-27 14:15] #448 closed

[2020-12-29 13:45] danielspk commented on #331
Hello, is there a hack momentarily to be able to scan non-OOP files?

[2021-01-05 10:49] xabbuh commented on #448
@nlefebvre1410 Wouldn't it be easer to change your regexes to be a bit more restrictive so that they only match your application's classes?

I have something like this in mind:

[code]

[2021-01-09 20:59] marcelthole opened #449 "Analyse return type of Methods"
Hey,

 i found the following problem that is not covered by deptrac yet.
If a class uses a other class without a `use` statement in the current class, the dependency was not found.

Given is this example of three files

[code]

In this scenario deptrac will not detect `DummyViolationClass` in DummyClassC. The violation will be found If an `@var DummyViolationClass` or `assert($violationClass insta

[2021-01-09 21:01] marcelthole commented on #449
I tried to look around in the Codebase and read about the AST from the PHP Parser.
To solve this problem, i think a new analyser layer should be used? We need to know which Methods return which class and which variable contains which class to resolve the Method calls to the variables and resolve the return types.
This sounds not very easy.

Maybe you can give me a Hint for a Solution? I will try m

[2021-01-15 08:48] marcosh opened #453 "Paths relative to depfile"
If I'm not wrong, currently the `paths` specified in the `depfile.yml` are interpreted as relative to the path where the `deptrac analyze` command is run.

I'd find it more consistent to consider `paths` as relative to the actual `depfile.yml` location, so that the behaviour of remains the same, independently from where the command is actually run

[2021-01-15 10:17] smoench commented on #449
Hi @marcelthole,
sorry for the late response I had to think about it. I came up with a prove of concept which shows how to track method calls as dependencies. This was the "easy part". Now we need to get the reflection of the method which is being called.
A possible solution would be integrating https://github.com/Roave/BetterReflection or came up with a custom dependent analysing solution.

[2021-01-17 09:17] marcelthole commented on #449
Awesome. Thanks a lot for the PoC. I will look into it and add roave better reflection and test it against some projects. I will try to create a Merge Request against your MR in the beginning of the next week :)

[2021-01-23 03:07] sasezaki opened #455 "can not find declaration property type dependency."
Hi.
Currently (0.10.2), deptrac seems to not find declaration property type dependency.
It even though DocComment Annotation type can find.

Here is example.

[code]
[code]

[code]

Line 6 `public ?\DateTimeInterface $created_at;` should be reported as violation.

[2021-01-29 12:58] #455 closed

[2021-01-29 18:33] staabm opened #473 "Detect SuperGlobal arrays as a layer"
In order to forbidd usage of $_GET, $_POST (and friends) in certain layers it would be great have a collector or something which allows to define rules on these variables.

maybe its already supported and I just missed it?

wdyt?

[2021-01-30 08:03] staabm commented on #453
Used deptrac for the first time and also ran into the same thing

[2021-02-03 07:45] smoench opened #481 "Remove deprecated options"
All deprecated output formatter options starting with `LEGACY_` should be removed.

[2021-02-03 07:50] smoench opened #482 "Add support for report skipped option in TableOutputFormatter"
In #471 `AnalyzeCommand::OPTION_REPORT_SKIPPED`-option was added and should be supported in `TableOutputFormatter`.

[2021-02-03 07:52] smoench opened #483 "Add support for report skipped option in GithubActionsOutputFormatter"
In #471 `AnalyzeCommand::OPTION_REPORT_SKIPPED`-option was added and should be supported in `GithubActionsOutputFormatter`.

[2021-02-03 08:18] #16 closed

[2021-02-06 09:34] MartinMystikJonas opened #486 "Extending/ including config"
Feature idea: We would like to define basic deptrac config in our framework package and inherit and extend it in projects using this framework without need to copypaste it after every update of basic rules.

Maybe add include config option which will load config from specified file(s) and merge it with current file

[2021-02-08 08:39] smoench opened #487 "Don't report skipped violations by default"

[2021-02-08 12:06] #483 closed

[2021-02-08 14:44] #482 closed

[2021-02-09 13:56] smoench commented on #486
It would be possible. There is already an option to import a baseline file in https://github.com/qossmic/deptrac/blob/master/src/Configuration/Loader/YmlFileLoader.php#L26.
Instead of a `baseline`-key there would be a  `imports`-key which accept an array of files.

Can you provide some an example configuration of your use case?

[2021-02-09 14:50] MartinMystikJonas commented on #486
Basically all our projects have similar layer structure (model < orm < services < UI) so we would like to have this definition stored in framework and only add new layers specific to project. So fixes and updates to this basic structure would be automatically shared. I can prepare configuration example if needed.

[2021-02-09 19:50] staabm opened #488 "How are classes handled which are part of several layers"
Is it documented somewhere what the expected outcome is when defining rules which make classes belong to several layers?

[2021-02-11 07:53] smoench commented on #486
I created an early RFC with #489. It uses symfony/config for definition and merging configurations.

[2021-02-12 12:21] smoench commented on #453
I created an early PR #489

[2021-02-12 15:19] smoench commented on #486
@MartinMystikJonas Can you prove #489 is working for your use case. You'll find a phar file in build artifacts.

[2021-02-12 15:20] smoench commented on #453
@marcosh @staabm Can you prove #489 is working for you. You'll find a phar file in build artifacts.

[2021-02-12 16:16] MartinMystikJonas commented on #486
I have some urgent work to do now, but I will check next it week. Thanks.

[2021-02-15 18:21] MartinMystikJonas commented on #486
I tested it and so far it works flawlessly.

[2021-02-16 11:08] MartinMystikJonas commented on #486
Ok I encountered one think tht would be nice to have.

It would be nice if Layers definitions from imported config could merge with top level Layer definition.

What I would liketl do is add new collector to existing layer.

Exmple:

[code]

[code]

hic currently results in `Configuration can not contain multiple layers with the same name, got "Libs" as duplicate.

I think that it would be better

[2021-02-16 12:02] MartinMystikJonas opened #491 "Cache file location"
I think it would be better to put cache file in common system temp location instead of CWD which might not be writble or where it can have unexpected side effects. Especially in combination with CI thic is potential problem.

I proposet o change in `/src/Console/Application.php` this:
[code]
to this:
[code]

End part `md5(cwd())` is added to prevent cache conflicts from different projects.

[2021-02-16 13:21] smoench commented on #486
Thanks for your feedback. It should work right now

[2021-02-16 16:16] marcosh commented on #453
@smoench I tried to run the phar you mention, it still seems that it takes into account the path where the command is run and not the path where the configuration file is.

My sytuation is as follows. Code into `src` folder and deptrac executable into `bin` folder. If I run `./bin/deptrac.phar analyze depfile.yml` everything works. If I do `cd .. && ./backend/bin/deptrac.phar analyze backend/depfi

[2021-02-16 16:22] smoench commented on #453
Sorry, I forgot to mention that this behavior needs to be opt-in. I introduced a new option `use_relative_path_from_depfile` for the depfile. This needs to be set to `true`:
[code]

[2021-02-16 16:57] marcosh commented on #453
oh, nice! I tried it again with the option set and now it works correctly! Thanks

[2021-02-17 08:44] staabm commented on #488
after testing with a setup like (simplified)

[code]

and classes like
[code]

I am getting errors like

in my controller
[code]

I guess this means it is currently not allowed to have a class beeing part of 2 layers?

[2021-02-17 09:32] smoench commented on #488
Well, I think one class should be only in one layer and that's what deptrac handles. If there is a good reason and a solution how deptrac can handle it I would be open to it.

Can you try following instead:
[code]

[2021-02-17 09:40] staabm commented on #488
we are on the same page here.

my issues was about checking out what your stand is and maybe discuss the expected behaviour and document it.
maybe deptrac should report an error when the rules lead to classes beeing part of severals layer (to improve UX)

[2021-02-17 09:52] smoench commented on #488
This can be achieved easily in https://github.com/qossmic/deptrac/blob/master/src/RulesetEngine.php#L32. If there is more than one layer returned an error or warning could be created.

[2021-02-18 07:38] MartinMystikJonas commented on #202
Maybe this could be somehow specified in rules. Like "Application" means only Application and "+Application" means Application plus all layers Application can depend on.

[2021-02-18 08:31] MartinMystikJonas commented on #328
What about add parameter root to directory collector that would specify root of the searched paths as simple path?

[2021-02-18 15:12] smoench opened #492 "Use TableOutputFormatter as default"
TableOutputFormatter  should be used as default instead of ConsoleOutputFormatter.

[2021-02-18 16:52] MartinMystikJonas opened #493 "Feature request: Parametrised imports"
I have just one idea for small improvement. It would be useful if it would be possible to pass parameters to imported configs. Specifically I would like to pass project root namespace name so it can be used in collector in imported config. Something like:

[code]
Included common.depfile.yaml:
[code]
would be interpreted as:
[code]

[2021-02-18 17:10] #487 closed

[2021-02-18 17:10] #481 closed

[2021-02-18 17:45] #453 closed

[2021-02-18 17:45] #486 closed

[2021-02-19 07:41] #492 closed

[2021-02-22 08:19] smoench commented on #488
@staabm Can you prove #499 is working for you? You will find a phar file in the build artifacts.

[2021-02-23 13:17] staabm opened #500 "mixed directory separators"
while configuring paths in a depfile.yml like
[code]

I get errors when running deptrac on a windows box.. I guess its a problem caused by the mix of directory separators. I feel those should be normalized?

[code]

see screen

![grafik](https://user-images.githubusercontent.com/120441/108848920-df565300-75e1-11eb-8378-2ac6ca51d1f3.png)

[2021-02-23 13:34] smoench commented on #500
With #489 the behavior has changed on the master branch as followed:

[2021-02-23 15:22] #500 closed

[2021-02-26 08:01] #488 closed

[2021-02-26 08:14] #20 closed

[2021-02-26 08:14] #76 closed

[2021-02-26 08:18] smoench commented on #202
I would be fine with this notation. Does anyone want to provide a PR?

[2021-02-26 08:26] smoench commented on #328
I would be open for any solution

[2021-02-26 14:01] smoench commented on #328
@umulmrum with #501 I came up with a solution: https://github.com/qossmic/deptrac/pull/501/files#diff-35304758972529a132b9bb5c17fb05e938142616066be07eb9d9a69617200ce3R11

WDYT?

[2021-02-26 14:02] smoench commented on #493
@MartinMystikJonas Can you prove #501 is working for you? :-)

[2021-02-27 08:46] MartinMystikJonas opened #503 "Feature request: Except layer collector"
I found out I often repeat some regexp in multiple just to exclude classes already in another layer (like everything from namespace X is general dependency except X\Gui which is gui dependency). It would be nice to be able to reference another layer as layer general dependency is everything matching exceptnof it is in X\Gui. But I can see there could be some problems here like circular dependencie

[2021-02-27 08:47] MartinMystikJonas opened #504 "Excluding other layers from collectors or layer priority"
I found out I often repeat some regexp in multiple just to exclude classes already in another layer (like everything from namespace X is general dependency except X\Gui which is gui dependency). It would be nice to be able to reference another layer as layer general dependency is everything matching exceptnof it is in X\Gui. But I can see there could be some problems here like circular dependencie

[2021-02-27 08:47] #503 closed

[2021-02-27 08:48] MartinMystikJonas commented on #503
Sorry there was some glitch and I posted it twice

[2021-02-27 08:49] MartinMystikJonas commented on #493
@smoench It looks perfect so far. Thank you for this awesome tool.

[2021-03-01 13:52] #328 closed

[2021-03-01 13:52] #493 closed

[2021-03-03 13:04] staabm opened #506 "using `/vendor/` as a layer"
we want to minimize dependencies on external libraries (those installed via composer), or at least allow using those externals only from certain layers.

from a architecture perspective we want 3rd party code only allow within the `Integration` layer.

we try to use something like this (simplified):

[code]

we are wondering why we don't see a violation for the following code

[code]

the mentione

[2021-03-03 19:35] smoench commented on #506
You need to add the vendor dir to `paths` otherwise deptrac doesn't know where the vendor class is located.

[2021-03-04 09:15] clxmstaab commented on #506
thx for the suggestion. this means deptrac would then analyze all dependencies regarding our ruleset, which is not useful. is there a way to take a path into account without analysing it?

[2021-03-04 14:56] MartinMystikJonas commented on #506
@clxmstaab I would recommend to not trying to add whole /vendor/ directory but specify Vendor layer as list of allowed vendor namespaces. We use it this way:

[code]

[2021-03-04 15:42] clxmstaab opened #508 "`\` vs `\\` in depfile"
my testing on windows suggests that the example mentioned in the readme
[code]

does not work.

it works after adjusting it to
[code]

is this a windows only issue? is the example in the readme wrong?

[2021-03-04 16:05] smoench commented on #508
The issue is not caused by windows this time but by YAML. The examples for implements etc. are all incorrect those backslashes need to be replaced with `\\`.

[2021-03-04 16:20] clxmstaab commented on #508
I see, PR incoming.

[2021-03-04 16:29] clxmstaab opened #510 "emit errors instead of warnings, when `--report-uncovered --fail-on-uncovered` is used in combination"
the reported uncovered errors should be at error level when deptrac was invoked with `--fail-on-uncovered`.
I feel like this would made semantically more sense.

at least in the github action formatter this is not the case

![image](https://user-images.githubusercontent.com/47448731/109996211-4e812500-7d0f-11eb-8996-ff9e7a373c9a.png)

[2021-03-04 16:38] clxmstaab commented on #506
thx for the hint. this totally makes sense and might be something worth noting in the readme.

worked for me.

[2021-03-05 07:40] xabbuh commented on #508
@clxmstaab Are you sure that you used single and not double quotes?

[2021-03-05 08:19] clxmstaab commented on #508
yep

![image](https://user-images.githubusercontent.com/47448731/110087262-b8431280-7d93-11eb-977c-8818ec32c3d7.png)

before the mentioned commit

![image](https://user-images.githubusercontent.com/47448731/110087332-cbee7900-7d93-11eb-861d-04afb51e2291.png)

[2021-03-05 08:30] smoench commented on #508
Does your `AuthenticationBusinessContext` directly implements `Behat\Behat\Context\Context` or inherits an other class/interface which is located in your vendors?

[2021-03-05 08:31] clxmstaab commented on #508
[code]

[2021-03-05 08:55] smoench commented on #508
`Behat\Behat\Context\Context` needs to be covered by a layer. Can you try following

[code]

[2021-03-05 09:29] clxmstaab commented on #508
thx for your feedback guys, really appreciate it.

I created a minimal repro for my problem:

https://github.com/clxmstaab/deptrac-issue508

behat does not report the wrong dependency from FeatureTest on Integration..

[2021-03-05 09:32] smoench commented on #508
https://github.com/clxmstaab/deptrac-issue508 -> `404`

[2021-03-05 09:34] clxmstaab commented on #508
sorry, its public now.

[2021-03-05 10:51] smoench commented on #508
I created a PR with a solution https://github.com/clxmstaab/deptrac-issue508/pull/1

[2021-03-05 13:06] clxmstaab commented on #508
you are right guys, that adding the double backslashes was not correct.
it turns out there were other problems within out config which were unnoticed.

it feels like there is some kind of underlying UX/DX issue, as its pretty easy to configure things wrong but don't be aware of it.

[2021-03-05 13:10] #508 closed

[2021-03-05 13:17] smoench commented on #508
Would be https://github.com/qossmic/deptrac/issues/327 a possible solution to improve DX/UX?

[2021-03-05 13:32] clxmstaab commented on #508
I guess having a list/visualization of which classes are part of which layer - like described in the linked issue - could be helpful.

[2021-03-08 07:53] #506 closed

[2021-03-08 12:40] ComiR commented on #349
@smoench the documentation was maybe not up to date when you were looking: https://psalm.dev/docs/annotating_code/type_syntax/scalar_types/#lowercase-string-non-empty-string-non-empty-lowercase-string

Not every possible type is documented properly (e.g. "no-return"/"never-return"), maybe this page is more complete: https://psalm.dev/docs/running_psalm/plugins/plugins_type_system/

But even if I w

[2021-03-08 17:20] lprzybylek commented on #504
I encountered a similar problem. I have a depfile that tracks dependencies between modules. Every module is composed of two layers: body and API. A module can be accessed only by its API. There is also RestOfTheApp layer which tracks if there are any unwanted dependencies to the modules' bodies. Every time I add a module I have to remember to exclude it from RestOfTheApp.

I thought of a custom co

[2021-03-09 06:43] ComiR commented on #349
@bravik I did use exactly that:
[code]

[2021-03-09 08:23] smoench commented on #349
#519 fixes the issue

Can you try a regex with delimiters instead?
[code]

[2021-03-09 11:04] bravik commented on #349
@smoench Thank you! It worked indeed

[2021-03-09 11:24] bravik commented on #349
@smoench It looks like all regex options should be specified with `'/.../'` format,
as otherwise there are a lot of files are reporeted as uncovered.
This is a bit confusing, because examples in README do not use this format and say something about `simplified regex`.

[2021-03-10 08:28] #349 closed

[2021-03-12 07:54] #510 closed

[2021-03-26 12:19] smoench commented on #449
@marcelthole I could get it working with BetterReflection for a test case https://github.com/qossmic/deptrac/pull/454/files#diff-8b480c9e118ef628179df6eb018a9967a99a42b7a0104f734c2253ed539e88ccR133

[2021-03-26 15:59] smoench commented on #327
@umulmrum I prototyped a possible solution in #527. WDYT?
In the build artifacts you will find a phar-file.

[2021-04-12 09:14] smoench opened #530 "update xdebug-handler to v2"
https://github.com/composer/xdebug-handler/releases/tag/2.0.0

this release supports xdebug v3

[2021-04-15 11:34] dknx01 opened #533 "Directory collector define depth or exclude subdirectories"
Hi,
I tried deptrac the last day on a new project. We've classes inside a folder and oin subfolders the real working classes. It would be nice if I could configure the collector to not scan the subdirectores.

Example:
[code]

In one collector I would collector all classes directly inside "Service", but not in subdirectories. An in another collector all classes in the subdirectories but not direct

[2021-04-15 11:51] smoench commented on #533
@dknx01 Thanks for your feedback. I think there is no need for those extra options as they can represented in a regular expression. The directory collector uses the filepath matching the directory. So following should be possible:

[code]

[2021-04-15 11:53] #530 closed

[2021-04-16 13:26] #327 closed

[2021-04-18 13:20] dknx01 commented on #533
@smoench right, it was just an idea to make it more easier, as not everyone knows regex very well.
If you want, you can close it.

[2021-04-18 13:56] #533 closed

[2021-04-18 15:33] paslandau commented on #491
I second the proposal. (For now we will just add `.deptrac.cache` to our `.gitignore`)

In addition, it would be great if the location is actually configurable via config file, e.g.

[code]
and for the proposed `sys_get_temp_dir().`
[code]

Proposal shamelessly borrowed from [PhpStan's Cache Config](https://phpstan.org/config-reference#caching) :)

[2021-04-22 02:00] patrickkusebauch opened #534 "PHP 8 support"
Version: https://github.com/qossmic/deptrac-shim/tree/0.13.0

Issue: Clearly does not recognize PHP8 features in the code like match statement and nullsafe operator.

For nullsafe operator: `Syntax error, unexpected T_OBJECT_OPERATOR on line 23`
For match statement: `Syntax error, unexpected T_DOUBLE_ARROW on line 83`

[2021-04-22 15:14] smoench commented on #534
Which PHP Version are you using while analysing your code with deptrac?

[2021-04-24 00:06] patrickkusebauch commented on #534
I was analyzing PHP 8.0 code with PHP 7.4.9. Surprising it does not work, but understandable. When analysing PHP 8 with PHP 8 it worked fine.

[2021-04-24 00:12] patrickkusebauch opened #535 "Recognizing @template T phpdoc"
`@template T` docblock is a common tool used by static analysis tools like PHPStan or Psalm to `implement` generics in PHP. However, deptrac does not recognize this common technique and treats `T` as a class name in the current namespace when used in @param od @return docblocks. Thus forcing the user to use custom Psalm/PHPStan docblocks.

Yes, I am aware that technically in @param and @return the

[2021-04-24 00:14] patrickkusebauch commented on #535
I would even extend this to other common static analysis types like `numeric`.

[2021-04-24 00:23] patrickkusebauch opened #536 "Partial use statements"
It seems like that deptrac presumes that whatever is written in `use *;` statement is a class and does not consider the possibility it could be a partially used statement and therefore it is only a namespace name and the fully qualified name of the class is only use in the code base on this imported namespace.

[2021-04-25 04:17] patrickkusebauch commented on #69
It is possible now: https://github.com/qossmic/deptrac#debug-layer
@smoench Close?

[2021-04-26 08:19] someniatko opened #537 "Phar Composer package"
I understand that you recommend not to install this tool via composer, to avoid conflicts with transitive dependencies.
However I would still prefer having a way of installing a concrete version of the tool per project, in order to have reproducible builds. The most convenient way to achieve this is using Composer! This will unite the best from the both worlds - Composer's usability and Phar's sel

[2021-04-26 08:22] someniatko commented on #537
Didn't notice you already have `shim` version, sorry.

[2021-04-26 08:22] #537 closed

[2021-04-27 08:50] staabm opened #538 "support `@internal` class annotations"
to formulate all restrictions we have in our current architecture we need roughly 120 lines within the depfile.
I try to find some ways so the depfile could get easier/simpler without loosing its explicitness(or rules).

we divided our source code in modules, and each of consist of several layers.
our file strucutre (simplified) looks like:

[code]

the file structure and class-names adhere to PSR

[2021-05-07 08:50] dbrumann commented on #491
I am not fully convinced using `sys_get_temp_dir()` as a default is such a good idea.

We would need to make sure that we read the cache for the right project. `md5(cwd())` is not ideal for this as the location might change frequently, e.g. on each deployment or in case of CI for each branch/commit/PR. That means we might end up storing lots of cache files that will not be needed anymore. This has

[2021-05-07 08:55] #69 closed

[2021-05-07 10:01] dbrumann commented on #538
I started working on this, but I don't think it will make a substantial difference in how complex your configuration will be unless you have many rules for excluded internal classes.

Right now you probably have something like:

[code]

When the PR is finished it could be something like:
[code]

Is this what you are looking for?

[2021-05-07 10:08] staabm commented on #538
Thx for working on it.

My intention was that a class configured `@internal` (or another annotation) would automatically be handled like suggested, without further rules required

[2021-05-08 07:53] Khartir opened #546 "Report class definitions without layers"
It would be great if deptrac could report when it finds class definitions (not references) in the scanned code that do not belong to any layer.
Right now there are two possibilities for uncovered classes:
- They are not part of the scanned code. That usually means they are part of a 3rd-party library.
- They are part of the scanned code, but are not assigned any layer.

It would be helpful, if tho

[2021-05-09 14:43] MartinMystikJonas commented on #491
@dbrumann Well I think I do not quite agree with your reason for default cache file location in CWD. I think arguments you said are valid only in special cases.

In most cases CWD do not change often and if do (like in CI) then it is usually initalized empty without old cache files so there is no advantage of keeping cache in CWD. I never seen CI which automatically copied untracked files between

[2021-05-10 16:14] MartinMystikJonas commented on #491
This is vaild point I did not thought about.

[2021-05-20 12:33] spaceemotion opened #555 "Help needed for configuring a Domain-based project"
We're currently having trouble configuring deptrac, with regards to maintainability and false-positives.

Our Setup consists of:
- `app/` which holds the project
- `app/Domains` which contains the "sub-domains"
- `app/Support` which works like inline packages (in this case our Enum and JsonAPI functionality)

What we want to achieve is the following:
- No Domain should be able to `use` another, th

[2021-05-25 07:35] dbrumann commented on #555
If your project grows the config file will become more unwieldy. I don't think there is much help I can offer.

I personally prefer alphabetical order for layers/rules to make sure I can find them more easily.
You could also look into anchors (`<<` and `&` in YAML), e.g. instead of copying the Support_* in the domains.

[2021-06-04 11:50] dbrumann commented on #534
Sounds like this issue is resolved, so I will close it for now.

[2021-06-04 11:50] #534 closed

[2021-06-04 11:52] dbrumann commented on #491
Feel free to open a separate issue or a PR if you would like to make the file location configurable in the depfile. I will close this issue for now.

[2021-06-04 11:52] #491 closed

[2021-06-04 11:56] dbrumann commented on #555
Since this is neither a bug nor a feature request I will close this for now. Feel free to reopen, if you have an idea how this issue can be solved more elegantly.

[2021-06-04 11:56] #555 closed

[2021-06-04 12:09] dbrumann commented on #432
I like the idea, but it's not something that I plan on doing or maintaining at the moment. Maybe someone else is interested in picking this up.

[2021-06-04 12:14] dbrumann commented on #280
This issue has not seen any activity for a while, so I will close it. Feel free to reopen with a more detailed description and possibly an example, if this is still relevant.

[2021-06-04 12:14] #280 closed

[2021-06-05 02:37] eliseuborges commented on #432
Thanks @dbrumann

[2021-06-07 12:18] Khartir opened #568 "Add unmatched skipped violations to junit report"
When a skipped violation is not matched, deptrac exits with code 1, but the junit report reports no errors. I think the junit report should contain an error in this case, otherwise it's impossible to find out what is actually wrong without rerunning deptrac with a different formatter.

[2021-06-07 17:04] a-menshchikov opened #569 "Count use statements"
I have the following case: when I run `deptrac analyze --formatter graphviz`, it shows me 2 dependencies in layers, where I have only 1 file that contains exactly 1 reference to constant from another layer. Such layer class imported by `use`.

IIUC deptrac counts use and constant as 2 different references. Is it normal?

[2021-06-07 17:46] patrickkusebauch commented on #569
There are really 2 questions here:
 - It is expected behaviour? **Yes**
 - Could it be improved? **Also yes** :)

 Personally, I am not giving much weight to the actual number as much as to the existence of the dependency. But I agree that for the number to have meaning, it might not want to count the `use` statements. But then you have an issue when you might have an unused `use` statement in you

[2021-06-08 07:22] Khartir commented on #546
I think it would be useful if there were a difference between uncovered dependencies and uncovered class definitions.
It would be nice is if there was an option, not to report uncovered dependencies but uncovered definitions: If deptrac scans a file and finds a class definition that can not be assigned to a layer, report it.

We had the problem in our project that a layer was incorrectly configure

[2021-06-09 13:26] patrickkusebauch commented on #432
@eliseuborges I have a colleague at work who developed and maintains 2 plugins for PHPStorm. I will ask him how much of an effort it is and if it's not too bad, I might pick it up. I have no experience with developing PHPStorm frameworks, so any help would be welcomed.

[2021-06-10 18:58] patrickkusebauch commented on #546
@Khartir I see. I prepared PR #572 that will solve your issue. :)

[2021-06-11 16:19] patrickkusebauch commented on #568
@Khartir I am working on this right now, could you provide an example of what do you mean?

[2021-06-11 16:54] Khartir commented on #568
When there is a `skipped_violations` entry that doesn't match a violation deptrac reports an error:
[code]

However, the junit-formatter does not add this to it's output.

[2021-06-11 17:01] patrickkusebauch commented on #568
@Khartir please look at the output of #573 whether it would solve your problem. I do not use JUnit myself, so I am unsure what the output should precisely look like. I based it on the rest of the file. If there is something missing/wrong, let me know, I will adjust it for you.

[2021-06-11 18:10] patrickkusebauch commented on #535
After a quick chat with one of the lead developers of PHPStan, he suggested using [phpstan/phpdoc-parser](https://github.com/phpstan/phpdoc-parser) for this.

Paraphrased and translated from Czech:

@dbrumann what do you think about adding this repository as a dependency?

[2021-06-11 18:16] patrickkusebauch commented on #535
[These tests](https://github.com/phpstan/phpdoc-parser/blob/master/tests/PHPStan/Parser/PhpDocParserTest.php#L2541) would be a good starting place for anyone looking to implement it.

[2021-06-11 18:32] smoench commented on #535
https://github.com/phpstan/phpdoc-parser is already in use but still in version 0.4

[2021-06-11 19:12] dbrumann opened #575 "Fix naming inconsistencies analyze vs. analyse"
There seems to be an almost 50:50 split in the usage of analyze vs. analyse in the code, from a quick look at the src directory. To avoid confusion and inconsistency we should pick one spelling and use it consistently.

I don't really care which one it is, whoever picks the issue can choose. 😄

If we change anything user facing, e.g. a command name, then we should keep an alias to avoid unnecessar

[2021-06-11 19:37] patrickkusebauch opened #576 "RFC: Groups - edges pointing to groups vs to layers"
What I think might be interesting is a case when the layer name is the same as the group name.
By convention, we could consider this a special case when this layer is the "public API" of the group.

### What would be the changes?
All layers that depend on this special layer will instead depend on the group (the arrow will point to the group and not to the layer inside the group). This change will

[2021-06-11 19:41] patrickkusebauch commented on #331
@danielspk and @umulmrum if this is still relevant for you and if we can hammer out here a more precise definition of what exactly you are expecting, I will take a stab at it. :smile:

[2021-06-11 20:31] danielspk commented on #331
Hi @patrickkusebauch

I have a global functions file within a defined namespace. That file contains functions, not classes. Example:

[code]

I wish I could validate that those functions can only be called from certain namespaces (like I do with DDD layers of classes).

[2021-06-11 20:42] patrickkusebauch commented on #331
@danielspk I looked at the code at it does not look unreasonably difficult to treat functions the same way classes are treated. I expect to do it either over the weekend or next week.

[2021-06-11 22:02] rbrishabh commented on #575
I can help with this!

[2021-06-12 16:22] patrickkusebauch commented on #331
@DanielBadura It would be immensely helpful to me if you could provide a sample repo on GitHub that I could test the changes against.

[2021-06-12 18:14] dbrumann opened #580 "Rule with null is interpreted as empty string"
Assuming you have a configuration with a ruleset where a layer does not define any dependencies, e.g. this one:

[code]

This will produce the following error:
[code]

The current workaround is to assign an empty list, i.e. `Controllers: []`, but it would be nice, if `null`/ `~` would work as well.

[2021-06-12 19:04] dbrumann commented on #580
I can't reproduce this anymore, so closed for now

[2021-06-12 19:04] #580 closed

[2021-06-13 12:58] patrickkusebauch opened #581 "Make debug output more friendly for piping into other commands"
If table format were not used, but instead just line by line output, it would be much easier to pipe the output of the command into other commands like `grep` or `wc`.

[2021-06-14 06:34] #546 closed

[2021-06-14 12:07] patrickkusebauch commented on #555
@spaceemotion I have a DDD base project and I can offer the following tips&tricks:
 1. have a complete separate configuration for Support packages, where each package is its own layer

2. For the domain config, have all Support packages as one layer. This will greatly decrease the number of dependencies you will have to list.

3. Have a separate file for each domain that defines `rulesets` and `la

[2021-06-14 18:57] #568 closed

[2021-06-15 09:16] #569 closed

[2021-06-15 10:15] patrickkusebauch commented on #569
@a-menshchikov it is now resolved. You will have to add `analyzer.count_use_statements: false` to your config file, but once you do, the use statement will not be counted anymore. :)

[2021-06-15 16:14] patrickkusebauch opened #582 "Internal - Refactor AstRunner to support parsing more than classes"
Right now the whole `AstRunner` part of the codebase presumes that we are parsing classes only. This assumption runs deep across the codebase.

Right now we have an issue requesting support for parsing function https://github.com/qossmic/deptrac/issues/331
Also, there is another issue requesting support for parsing global variables/superglobals https://github.com/qossmic/deptrac/issues/473

After

[2021-06-15 18:06] patrickkusebauch commented on #536
There is no way to know when parsing one file whether the `use` statement is referring only to a namespace or to an actual class. It is not even recognized by the parser itself. The only "workaround" is to utilize the newly introduced `count_use_statements: false` config option introduced in #571.

IMHO one more reason to have the default be false @dbrumann.

[2021-06-15 18:06] #536 closed

[2021-06-15 18:26] patrickkusebauch commented on #218
Refreshing if this is something still relevant in 2021. The links provided no longer work. If there is still demand, I can cooperate on some kind of solution.

[2021-06-15 18:30] amenk commented on #218
No demand from my side currently.

[2021-06-16 06:47] smoench commented on #582
In theory it shouldn't be that hard. The analyzing part always starts with a file (`AstFileReference`) where all class references (`AstClassReference`) are being added. We could add also additional information to the AstFileReference such as functions or global variables. PHPParser gives us the information we just need to collect them. We probably have to [add two visitors ](https://github.com/qos

[2021-06-16 09:40] a-menshchikov commented on #569
@patrickkusebauch thank you!
Are there any plans to release the next version?Unfortunately I'm forced to use deptrac-shim due to a dependency conflict.

[2021-06-16 09:59] patrickkusebauch commented on #569
@a-menshchikov I am just a heavy contributor and have no say in the release process. You can either build it yourself (it is really easy and well documented) or @dbrumann has to release a new version.

[2021-06-16 10:45] staabm opened #586 "test-suite doesn't green on windows"
running the testsuite on a windows box lead to a lot of errors.

[code]

it seems most of them are related to mixed line-endings.

[2021-06-16 12:42] patrickkusebauch commented on #582
From what I saw this would be exactly my approach as well. My biggest issuer right now is with `Qossmic\Deptrac\AstRunner\AstMap\ClassLikeName`. It is heavily used in defining dependencies and also in processing output. This would need to change and dependencies would have to be more agnostic about the types. Only then I think we can add the new visitors and have them properly propagated into the

[2021-06-16 15:30] patrickkusebauch commented on #582
I would even argue that already we should have 2 visitors. The `ClassReference` we have now and `UseReference`.

Counting use statements is another chapter in and of itself.
 - The implementation is problematic as mentioned https://github.com/qossmic/deptrac/pull/571#issuecomment-862087004. It is also bundled with `ClassReferenceVisitor` while having absolutely nothing to do with the class. It onl

[2021-06-16 16:06] dbrumann commented on #582
I just noticed Tim is probably no longer using his old handle, so another friendly ping to @timglabisch for your thoughts on this

[2021-06-16 17:00] #581 closed

[2021-06-17 11:06] timglabisch commented on #582
as far as I remember this is not so trivial. but quite feasible. if I remember correctly you would have to exchange AstClassReference for something that works with the FQN.

For example if you would have a file like:

[code]

you could map this to `foo\Bar\abc()`.

this get ultra complicated if you would like to support something like this:

`
[code]

any good examples why this feature is importan

[2021-06-17 11:17] patrickkusebauch commented on #582
This is exactly how I imagine the "name token" would look like for the function

I agree. But I don't think this behaviour is supported even for (anonymous) classes. IMHO there is no reason for functions to be exceptional in that regard.

For variables, I think superglobals are quite an important use case. For functions:
 - Functional programming paradigm written applications in general
 - named f

[2021-06-17 14:01] timglabisch commented on #582
@patrickkusebauch can you give me an example for the superglobal case?

[2021-06-17 14:08] patrickkusebauch commented on #582
@timglabisch Sure. For example, in a "traditional" MVC/MVP architecture, I might want to constrain the usage of GET/POST/COOKIE/FILES/REQUEST superglobals to Presenters only. While I might not mind if ENV or SERVER are accessed in the Model.

[2021-06-17 14:16] timglabisch commented on #582
i am not sure if we really need support for superglobals, deptrac is primary written for well structured codebases to keep an eye on the layers in larger projects. for ages i didn't saw a superglobal in the wild, most times frameworks just make sure you don't access them. From my perspective i would try to use tools like psalm to make sure that really no one is using superglobals at all.

[2021-06-17 14:21] patrickkusebauch commented on #582
I tend to agree. I only use superglobals in the bootstrap file of the framework, when I need to change configuration base on (mostly) ENV values. Otherwise, I am accessing via the framework. I am just being the devil's advocate for the open issue here.

[2021-06-17 14:29] timglabisch commented on #582
but supporting functions and constants would be a great addtion.

here are some examples:

[code]

trap: FQN for the Class and the Constant could overlap.

[2021-06-17 15:07] patrickkusebauch commented on #582
Either way, if we want to support anything else other than classes, it requires rewriting `DependencyInterface` and `BasicEmmiter` as outlined above. Then it can be added to `AstFileReference`

[2021-06-17 15:21] patrickkusebauch commented on #586
@staabm great catch. Would you be able to provide a PR with a fix? I am an exclusive Unix user, so I cannot emulate these errors easily.

[2021-06-18 11:59] #39 closed

[2021-06-18 11:59] #77 closed

[2021-06-18 18:52] staabm commented on #586
Sure, will have a look

[2021-06-18 19:25] patrickkusebauch commented on #582
Anyways, to move this forward a little bit. Does anybody see anything wrong with this approach?

1. Create new `TokenLikeName` interface for `ClassLikeName`
2. Make `DependencyInterface` and `BasicEmmiter` use this interface instead of `ClassLikeName`
3. For each new supported type add:
[code]
and add the result of the visitor to `AstFileReference`?

I think this could work quite nicely. WDYT?

[2021-06-21 19:07] dbrumann commented on #582
I think, we are all in agreement that supporting functions/constants would be nice and if superglobals easily come with and then I won't mind.

My only requirement is, that we do this in at least 2 steps:

1. Introduce the new interface and use that
1. Introduce the functionality one by one (in any order):
   1. function
   1. constant
   1. superglobals

As far as I can tell, introducing the inte

[2021-06-21 19:09] #375 closed

[2021-06-22 07:22] staabm opened #593 "throw proper error on invalid regex"
with a invalid configuration like

[code]

(note the missing `.` before the `*`)

I would expect a proper error message with a usefull stacktrace, which points to the line within the depfile.

atm I get
[code]

[2021-06-22 08:24] staabm opened #594 "support procedural php files"
in our apps we use good old regular procedural php files as view scripts.

there is no class defined in this files, but there are types involved and namspaced method calls.

example `views/shipping.phtml`:

[code]

example config

[code]

we would love to apply deptrac rules for this files, e.g. don't allow calling Mapper/Persistence-Classes/Methods etc.

it seems atm deptrac cannot scan these fil

[2021-06-22 08:30] staabm commented on #594
hmm.. maybe the only problem is the file-extension we use.

does deptrac only work on `.php` files?
https://github.com/qossmic/deptrac/blob/869cd2e697bb6970a02a0e7db9875f76fe8d9f8f/src/FileResolver.php#L21

[2021-06-22 16:45] patrickkusebauch commented on #594
Hello,
as you pointed out, the problem here is twofold:
 1. not recognizing other than `php` extension
 2. dependencies of things other than classes

For the second issue, see https://github.com/qossmic/deptrac/issues/582, where we are discussing internal changes required to support other types of dependencies.

For the first, this is an actual missing feature of deptrac ATM.

[2021-06-22 17:02] staabm commented on #594
My view scripts depend on classes.

Checking whether other classes depend on the view-scripts is not important in our case.

It would be enough to get this working in one direction - in case this simplifies the implementation

[2021-06-22 17:06] patrickkusebauch commented on #594
You are depending "on classes", but you are not depending "by classes".

What I mean is that your scripts do not include any class definitions and at the moment that is the only thing that can be the source of the dependency for deptrac. Extending this behaviour is what we are working on in https://github.com/qossmic/deptrac/issues/582

[2021-06-23 08:03] #535 closed

[2021-06-23 08:19] #158 closed

[2021-06-23 08:19] #202 closed

[2021-06-23 17:29] dknx01 opened #597 "Groups: use group names instead of numbers"
maybe an idea:

use the group names for the png image instead of numbers:

before:
![structure](https://user-images.githubusercontent.com/3475199/123141940-36b5e400-d459-11eb-8195-03db1ec652e9.png)

after:
![structure_2](https://user-images.githubusercontent.com/3475199/123141960-3d445b80-d459-11eb-9990-7d83a73a1035.png)

[2021-06-23 17:48] patrickkusebauch commented on #597
Thank you for reporting. We are aware of this limitation, right now we are limiting by the underlying graphing library as discussed here: https://github.com/qossmic/deptrac/pull/570#issuecomment-863915510. I am looking for an alternative with support for this feature.

[2021-06-24 08:45] hollodotme opened #598 "GPG public key not found on keyservers (phive install/update)"
## Problem description

When updating the deptrac PHAR to the newest version 0.14.0 via [phive](https://phar.io), the following errors occur:

[code]

Obviously the GPG key that is signing the PHAR has changed from `4F2AB4D11A9A65F7` to `B8F640134AB1782E` and the latter one is not available at any of the key servers.

## Steps to reproduce

1. Install `phive` as described here: https://phar.io/#In

[2021-06-24 10:39] dbrumann commented on #598
Sorry for that. I just uploaded the key to both keyservers. Can you please check if it works now?

[2021-06-24 11:32] hollodotme commented on #598
👍 Works like a charm again. Thanks for the quick fix!

[2021-06-24 11:32] #598 closed

[2021-06-24 20:58] i582 opened #599 "strange error if specify single file in config"
Hello
I am running Deptrac with the following config:
[code]

On file `1.php`:

[code]

And I get a very strange error:

[code]

If this is prohibited, then I would like to see a readable error about it.

[2021-06-24 21:04] i582 opened #600 "no errors are found if the project name matches `exclude_files`"
I tested Deptrac and named the folder `test_deptrac`, as a result,
whatever errors were actually, Deptrac did not find them. After
I renamed the folder, Deptrac started finding errors.

This seems like a very unpleasant bug, because of which you can
waste a lot of time and still not understand why errors are not found.

Config:

[code]

[2021-06-24 21:45] i582 commented on #600
It seems both issues (with #599) are somehow related to the `FileResolver::resolve` and `Finder` from `Symfony`.

[code]

[2021-06-25 19:54] patrickkusebauch commented on #600
From your configuration, it seems correct that `deptrac` will ignore the errors. You specifically requested it in the configuration file:
https://regex101.com/r/A0aPrP/1

[2021-06-25 20:01] patrickkusebauch commented on #599
This is prohibited, `paths` can only take directories as arguments. It should be explained better in the documentation, we are working on a rewrite right now: https://github.com/qossmic/deptrac/pull/566

[2021-06-25 20:04] i582 commented on #600
This seems like a strange approach, since I wanted to exclude the
folder with tests, but Deptrac excluded the entire folder with the project,
although I run the analysis in the folder with the project, that is, it should
not matter what the name of this folder is.

Imagine that if I have a folder with name with the substring `test` in the path
to the project (not even project folder), is it really

[2021-06-25 20:05] i582 commented on #599
Got it. Thanks for the explanation.

[2021-06-25 20:05] #599 closed

[2021-06-25 20:08] patrickkusebauch commented on #600
Maybe you are looking for something like `\/test\/.*` or `test\/.*`? You can always use the `debug` command to see what classes are currently matched.

[2021-06-25 20:09] patrickkusebauch commented on #600
If you provide an example directory structure I might be able to help you with the configuration.

[2021-06-25 20:14] i582 commented on #600
It seems with `\/test\/.*`  everything works as expected, thanks.

I drew attention to it, as I could not understand why Deptrac does not
give mistakes for a long time, but since this is an expected behavior,
then thanks for explained.

[2021-06-25 20:14] #600 closed

[2021-06-25 20:16] patrickkusebauch commented on #600
Yeah, this is partially what the `debug` commands are for. To ensure that your matching patterns for both files and layers are as expected.

[2021-06-25 20:16] i582 commented on #600
Thanks I'll know.

[2021-06-30 10:16] azjezz opened #609 "bug: deptrac doesn't understand imported namespaces."
assuming i have the following project structure.

[code]

with `Bar.php` containing:

[code]

and the following deptrac config:

[code]

and i run deptrac, i should have no errors, however, deptrac currently yields the following:

[code]

[2021-06-30 12:11] patrickkusebauch commented on #609
Thank you for reporting. For now, you can resolve this by [using this parameter in your depfile](https://github.com/qossmic/deptrac/blob/main/docs/depfile.md#count_use_statements).

[2021-06-30 15:03] MGatner commented on #582
Just chiming in to say: I would use this heavily as well! View files are "procedural" but (in my case) should have some of the tightest restrictions. I'm just getting started with deptrac and a refactor seems like it would be over my head, but let me know how I can help!

[2021-06-30 15:17] patrickkusebauch commented on #582
@MGatner I am already working on this heavily, so don't worry it is coming. To me, the biggest help would be unintuitively you picking up other issues. If I can focus solely on this, I would finish it faster than me working on several issues simultaneously.

[2021-06-30 15:27] MGatner commented on #506
Would @MartinMystikJonas 's suggestion be the way to include classes in a layer that we wanted to *exclude* but not *check*? For example, in a framework application you might not want **app/Models/UserModel.php** to use anything from **app/Libraries/** but also not from **vendor/org/framework/src/Libraries/**.

[2021-06-30 16:31] patrickkusebauch commented on #609
Duplicate of #536

[2021-06-30 16:57] MGatner commented on #582
@patrickkusebauch Loud and clear! Still digging in over here but once I have my head around it I will take a peek at what is out there. Thanks for your work, I look forward to what you've got!

[2021-06-30 19:04] dbrumann commented on #506
Yes, personally I think that's a good way to solve this.

For example you could have two layers `App Libraries` and `External Liberaries` and then specify which layers may access each one, e.g. `UserModel` may not use either, but maybe `App Libraries` can use `External Libraries`.

If for whatever reason you run into a problem with that approach, feel free to open a separate issue with your depfil

[2021-06-30 20:37] MGatner commented on #506
Thanks @dbrumann. I think that isn't quite what I need but it is helpful. The problem is that the layer is all the same; maybe an example will help:
[code]

[2021-06-30 23:11] patrickkusebauch commented on #506
Bool collector is your friend here. It will be a little bit of duplication but if you split your services into 2 like this:
[code]
You should be able the make the desired rulesets.

[2021-07-01 11:23] MGatner commented on #506
Awesome! Thanks @patrickkusebauch I will give that a shot.

[2021-07-01 13:09] MGatner commented on #491
Found this while working on CI cache restore - want to affirm this was handled correctly IMO. Being able to cache and restore from the working directory (or a sub directory thereof) is pretty crucial for some CI environments.

[2021-07-01 19:20] patrickkusebauch opened #614 "Bug: .editorconfig breaks TableOutputFormatterTest"
[code]
breaks `TableOutputFormatterTest` since it will remove trailing whitespace from the expected output string.

[2021-07-01 19:31] patrickkusebauch opened #615 "`RulesetEngine` should only use `ConfigurationRuleset`"
A good first issue to pick up - it is a small refactor.

Right now it depends on `Configuration` and all the methods it calls are used solely in the `RulesetEngine`. Therefore all of those should be moved into `ConfigurationRuleset`.

[2021-07-02 00:16] patrickkusebauch commented on #582
Suggested token names to avoid confusion in the output:

[code]

[2021-07-02 01:59] MGatner opened #616 "Bool Collector: Multiple Class Layers"
Off [this recommendation](https://github.com/qossmic/deptrac/issues/506#issuecomment-871784767) I am implementing the Bool Collector. I *think* I have it configured all correctly, but I am receiving warnings about classes existing in multiple layers that they clearly *should not* qualify for.

Here is an example message:

An example of the generating files: https://github.com/tattersoftware/codeig

[2021-07-02 02:19] patrickkusebauch commented on #616
From what I see of your configuration the problem you are facing is that for a file with this path:

`vendor/company/package/src/Entities/MythEntity.php`

Both collectors for `Entity` and `Other Entity` will match. Ditto for the rest of the duplicate files.

[2021-07-02 02:25] MGatner commented on #616
Ahhhh it's because `src/Entities/.*` matches in the middle of that directory path, isn't it?? Okay, that was definitely my bad not checking the full paths. Is there a directory collector regex workaround, like for class names, so I can prevent that? I guess I could use a `must_not`...

[2021-07-02 02:39] patrickkusebauch commented on #616
`must_not` for the `vendor` folder would be the easiest I guess. But the possibilities are endless. After all, it is a regex, so you have a whole plethora of possibilities for how to set it up.

[2021-07-02 12:02] MGatner commented on #616
What I really want is for the regex to apply from the current path, so something like:
[code]
I will dig in when I'm on desktop and see if this is the case or can be the case.

While I have you, would you glance at my GitHub Action workflow and see if you have any suggested improvements? Once it is ironed out I would like to contribute to some CI/CD docs.

[2021-07-02 17:34] MGatner commented on #506
@patrickkusebauch Is there a way to "allow all"? I read through docs and issues and did not see this. The problem with defining them as separate layers is:

Which means any "______ 2" will cause violations without explicitly defining all of them.

[2021-07-02 17:52] patrickkusebauch opened #617 "Docs: Transitive dependencies docs dropped with docs refactor"
The section about how to use transitive dependencies was last when refactoring documentation in #566.

Pick the documentation written in #579 and add it to the appropriate section in current docs.

[2021-07-02 17:54] patrickkusebauch commented on #506
No, there is no `allow all` but there are transitive dependencies when one layer can `copy` dependencies of another layer.

Unfortunately, the docs were lost in the refactor, I already created issue #617.

In the meantime, you can find the original docs for the feature in #579 changed files.

[2021-07-02 18:16] MGatner commented on #506
So if I understand this correctly... I would do something like the following to "allow all" for my vendor layer?
[code]

[2021-07-02 18:19] patrickkusebauch commented on #506
This is eqivalent to:
[code]

Is that what you want?

[2021-07-02 18:20] MGatner commented on #506
Yes! I want everything in my `vendor/` folder allowed but still be able to restrict use of it from my source code. I will try it.

[2021-07-02 18:59] MGatner commented on #506
Is this already a part of `0.14.0`? It does not appear to recognize the syntax:

Tried it in quotes too, to no avail.

[2021-07-02 19:19] patrickkusebauch opened #619 "Tests: E2E test for transitive dependencies"

[2021-07-02 19:19] patrickkusebauch commented on #506
@MGatner that is my bad, bugfix incoming: https://github.com/qossmic/deptrac/pull/618

[2021-07-02 23:08] MGatner commented on #616
Patrick or @dbrumann Just to save opening another issue... what does "Deptrac" mean? "Dependency Trace"? "Deep Tracking"?

[2021-07-02 23:21] patrickkusebauch commented on #616
Dependency tracker? I have no idea... :smile:

[2021-07-03 08:06] dbrumann commented on #616
Me neither. I always thought it's short for dependency tracker, as in we track how dependencies are used in the code.

[2021-07-03 09:38] #619 closed

[2021-07-03 09:47] dbrumann commented on #614
I can't confirm this issue. Can you maybe add a diff what your editor changes?

This is how I tried to reproduce this:

* Tests currently pass, so I assume the file was not changed according to this rule.
* I opened the file in PhpStorm and ran "Reformat Code"

**Expected Behavior**: PhpStorm reformats according to editorconfig and removes trailing whitespaces and tests now fail.

**Actual Behavio

[2021-07-03 09:50] dbrumann commented on #617
I already merged #621 to rectify this. Do you think that solves this issue or should we add the original explanation somewhere as well?

[2021-07-03 09:52] dbrumann commented on #609
Thanks for reporting. I will close this issue as a duplicate please refer to #536 for progress on this.

[2021-07-03 09:52] #609 closed

[2021-07-03 09:54] dbrumann commented on #586
Thanks for reporting this and working on this. Let me know if I can help somehow. I primarily work on Mac, so it's hard for me to reproduce. Maybe we can have a look at running github-actions on different OSes in the future to avoid this. For now, I think a simple fix to make it work locally for you, should suffice.

[2021-07-03 12:05] MGatner commented on #616
🤦‍♂️

Well thanks for trying. This project has been around a while - are the original authors no longer involved? Was "qossmic" an individual?

[2021-07-03 14:16] MGatner opened #624 "Enhancement: skip_violations for traits"
Currently allowing a violation in a trait:
[code]
... will not apply to any of the classes that use the trait, requiring every class to apply the exemption as well.
[code]

[2021-07-03 15:04] MGatner commented on #616
This was my mistake and not an issue at all.

[2021-07-03 15:04] #616 closed

[2021-07-03 15:29] MGatner opened #625 "Enhancement: Ignored/Exempt Layers"
I would like a way to define a layer that was available for dependency checks to other layers but otherwise exempt from validation. See also the conversation at: https://github.com/qossmic/deptrac/issues/506

This might be beyond me for my first PR but I would be willing to try. I imagine it working with a special modifier like `~` (maybe `+` as a nod to transitive dependencies?). Those this would

[2021-07-03 15:51] mchekin commented on #615
@patrickkusebauch
I would like to look into it.

[2021-07-03 15:52] patrickkusebauch commented on #614
For me, this occurs when I change anything in the file and then just click outside of the file. PHPStorm autosaves and reformates the code. All trailing whitespaces from multiline test strings are truncated.

[2021-07-03 15:54] patrickkusebauch commented on #617
The only downside I see with the current fix is that it does not have a name. So it will be hard to refer to it. Both in terms of links (no header) and also anywhere else in the docs where you want to talk about it.

[2021-07-03 16:57] patrickkusebauch commented on #614
https://streamable.com/5836ej

[2021-07-03 19:12] mchekin commented on #615
@patrickkusebauch

`RulesetEngine` calls  both `Configuration::getSkipViolations()` and `Configuration::ignoreUncoveredInternalClasses()`.

Does that mean we need to move the `skipViolations` and `ignoreUncoveredInternalClasses` fields into `ConfigurationRuleset`?

If so, does it also mean that we need to re-structure the `skip_violations` and `ignore_uncovered_internal_classes` configuration keys

[2021-07-03 19:24] patrickkusebauch commented on #615
Yes I know, this is what this issue is about. :smiley:

Yes.

This would be a breaking change, I would prefer if no breaking change happened to the `depfile`. So rather change how data for `ConfigurationRuleset` is gathered in the code.

I think going forward what you are saying makes sense, but deciding on breaking changes is @dbrumann 's domain.

[2021-07-03 20:50] patrickkusebauch commented on #624
I actually like the current behavior better. But it is a matter of opinion.

[2021-07-03 20:54] MGatner commented on #624
I cannot image a case where that would be helpful: you want to exempt the trait but not a class implementing the trait? I guess I'm unfamiliar with how traits are handled during collection - do they count both for themselves *and* their implementing class?

[2021-07-03 21:00] patrickkusebauch commented on #624
Yes, they do.

### For implementing class:
I always think of traits as copy-paste into the implementing class. For that reason, I would like to know every class that is not conforming to the set rules.

I can imagine cases when some of the classes implementing are allowed by the ruleset, but others are not. In such a scenario, only some of the uses will be violations. I want to see them.

### For

[2021-07-03 21:34] MGatner commented on #624
Hmm troublesome, but I see your point. Maybe allowing wildcards/regex in `skip_violations` would be helpful?

[2021-07-03 21:56] patrickkusebauch commented on #624
That is something people would expect to see dealing with tools like PHPStan and something I could get behind.

[2021-07-04 06:30] dbrumann commented on #617
:+1: Solved with #627

[2021-07-04 07:06] mchekin commented on #615
@patrickkusebauch

I opened a pull-request: https://github.com/qossmic/deptrac/pull/628

Without any configuration structure changes.

[2021-07-04 07:08] #617 closed

[2021-07-04 08:29] dbrumann commented on #624
I am not too familiar with CodeIgniter, especially in the current generation, but to me these violations are indicators of an actual architectural "flaw", be it classes in the wrong layer, missing abstraction, or something similar. If HTTP and Pager should be independent, then HTTP should not rely on that interface in so many places, not even indirectly via the trait.

In fact this is exactly what

[2021-07-04 08:49] dbrumann commented on #616
QOSSMIC is not an individual, it's the name of the company I work at. This project started when QOSSMIC was still SensioLabs Germany as an internal R&D project in our dev team. That's why you still find older versions on packagist with the old vendor name. When I joined SensioLabs Germany about 5 years ago I didn't contribute much to deptrac, only small things during conference hackathons. That's

[2021-07-04 09:05] dbrumann commented on #615
**tl;dr Go ahead with restructuring but try to add a BC-layer if possible.**

I am planning on writing a BC policy at some point, that will hopefully make it easier to decide on how/what to refactor. My personal rule for now is that code changes are mostly fine, because people primarily use deptrac as phar file. What I consider a BC break is changes to the existing console command inputs/outputs a

[2021-07-04 09:14] #614 closed

[2021-07-04 09:17] dbrumann commented on #614
Yes, when I change something in the file it will be reformatted for me as well. I updated editorconfig and that solved it for me.

An alternative solution would probably be to replace multiline strings with HEREDOC, but I can live with some unwanted trailing whitespaces in tests.

[2021-07-04 09:46] dbrumann commented on #218
In that case, I will close the issue for now.

[2021-07-04 09:46] #218 closed

[2021-07-04 12:02] MGatner commented on #624
@dbrumann you for sure hit the nail on the head! And that note is correct, `setLink()` will move out of HTTP layer but (as you noted) this is a breaking change so will have to wait for version 5 (hence the "skip").

For now I have added every class to the list but I do still think wildcards would be helpful for circumstances like this. This is "Deptrac at its best": catching and improving existing

[2021-07-04 12:04] MGatner commented on #616
Nah, not important! I was introducing it to our team at CodeIgniter and was going to expand the name, but I just stuck to a basic description.

Thanks for the history bit! Very cool of you and your company to open this to the community.

[2021-07-04 12:21] dbrumann commented on #624
If wildcards/regex help with introducing deptrac to an existing project I am open to it.

My main concern is, that this will introduce some uncertainty which violations are skipped and which ones not, especially since we regularly have issues regarding regexes. For regexes in layers we have some debugging now that helps with this, but I am not sure I want to have that for violations as well. I wou

[2021-07-04 18:40] dbrumann commented on #625
What do you mean by exempt from validation? `Core` may use any other layer without having to specify them all in the ruleset?

[2021-07-04 19:26] MGatner commented on #624
Is there no way to display skipped violations? I kinda assumed I could see them somehow, with `--verbose` or something.

[2021-07-04 22:51] MGatner commented on #625
At the very least. Ideally I think these rules would also no show up in "Allowed" as well. A semi-real scenario...

I want to make a file upload applet: simple web interface and CURL uploads to some remote source the user specifies. I'm going to use third-party packages for my `Cache` and `CURL` classes, and a basic `Controller` and `View` to handle the interface. I want my `Controller` to use the

[2021-07-05 05:19] dbrumann commented on #624
Yes, but only as part of a full analysis.

[2021-07-06 11:19] Ferror opened #631 "How to automate configuration while working with bounded contexts"
Hi!

My project is a modular monolith that contains multiple Bounded Contexts and the logic (obviously) that none of the classes shouldn't be shared between BCs.

Example directory structure:
<img width="262" alt="Screenshot 2021-07-06 at 11 34 20" src="https://user-images.githubusercontent.com/17534504/124578026-1bca7300-de4e-11eb-8c96-9cc26e3dba3c.png">

To code this logic via the Deptrac I have

[2021-07-06 14:35] patrickkusebauch commented on #631
I have the same setup as you do, so I will share how I do it, as there is no "prescribed" way:
1. I would have some command-line utility that creates the BC directory (I have it as composer script). It also creates some common files for each BC (for me it is readme.md, DIC Class, etc). This script would also create file `deps.yaml` that will look like:
[code]
2. For your `deptrac.yaml` file I woul

[2021-07-06 15:39] Ferror commented on #631
Thank you! I was thinking to maybe provide to the repository some of the examples, as it may help share best practices like DDD namespaces etc

[2021-07-07 08:05] BackEndTea opened #632 "Multiple rule sets"
Is it possible to have multiple rule sets.

E.g. i have a Domain/Application/Infrastructure ruleset that handles those dependencies.

But i also want to make sure that my `Email` namespace doesn't have a dependency on my `Account` namespace.

Because if i make an email layer, i will get errors that other layers depend on the email layer.

[2021-07-07 10:47] patrickkusebauch commented on #632
Yes, there are many ways to achieve this:
 - You can have multiple `depfile.yaml` files with different configurations. Each file will slice the architecture differently
 - You can also have it all in one file and ignore warnings about classes being assigned to multiple layers.
 - Or you can have more granular layers that represent both "Domain/Application/Infrastructure" and "Email/Account" at the

[2021-07-08 12:35] Ferror commented on #631
Are we able to address this issue to try to automate configuration? For example some sort of dynamic context definition? Feature request or something. Also, I am eager to work on this case :)

[2021-07-11 07:53] #597 closed

[2021-07-12 07:28] yourwebmaker opened #633 "Allow only DomainEvents dependency across bounded contexts"
Hello everybody.

First of all, amazing project. It has been helping a lot in my app recently. Thank you all.

We've been developing a Loosely Coupled Monolith which is split into Bounded Contexts:
- Each bounded context emits and owns a set of Domain Events.
- The Bounded Contexts are not allowed to have any dependency on each other, except via Domain Events.
- Each Bounded Context has its own la

[2021-07-12 08:47] patrickkusebauch commented on #633
The problem you are having, in this case, is that you have defined your layers incorrectly and deptrac is subtly telling you this by being hard to use. Just by the fact that it is difficult for you to define layers and their dependencies, regardless of the tool used means your architecture is unclear itself. There is something about it you do not fully grasp yet. Something that is not yet fully un

[2021-07-12 13:32] yourwebmaker commented on #633
Hey @patrickkusebauch , thanks for your input.

yeah, I'm having some mixed feelings about such architecture, but honestly, I have no clue how to make it simpler. I'm kind stuck 😆

That's exactly what I've tried to do: The Domain events, are treated differently by implementing a Common\DomainEvent interface. Both/Any context might publish those types of events.

[2021-07-12 20:32] patrickkusebauch commented on #633
I would read up on the difference between `Domain Events and Integration Events`, I think you are talking about Integration Events. In that case, I do not have them as a part of the Domain but have a separate layer only for those. My reasoning is that this is the core communication channel of the whole application and I really want to know who is working with those and why. It is a piece of the co

[2021-07-13 13:53] yourwebmaker commented on #633
thanks for your valuable inputs @patrickkusebauch

I will read about Integration events, about I've read about them in the past where, conceptually, they are also Domain Events.

I don't see any other option, for now, other than treating these cross-boundaries events as something "special" at the directory level.

Not an elegant solution IMHO (at the moment of this writing) but at least I can move

[2021-07-13 13:53] #633 closed

[2021-07-13 20:19] dbrumann commented on #631
I thought about this for other contexts as well, but I couldn't come up with a solution that is safe and works well yet. There is too much uncertainty about the project structure and what layers/rules you want to have. Providing something that works well for all different project structures and custom variations is bound to be incomplete and error prone. We already get a few issues reports from ma

[2021-07-14 15:12] staabm opened #635 "DirectoryCollector: OS agnostic patterns"
I juse realized that a DirectoryCollector pattern is sensitive to forward vs. backwards slashes path-patterns:

on windows is required to use double backslash (which doesn't work on linux-alike):
[code]

on linux it is required to use forward slash
[code]

this effectively means its cumbersome to write a regex pattern which works on both platforms.

I would expect a pattern like `regex: .*/lib/.*`

[2021-07-14 15:27] staabm commented on #635
atm I need todo ugly things like
[code]

[2021-07-17 17:54] patrickkusebauch opened #636 "Docs: change generated image for grapviz formatter for groups"
Now the formatter will add the name of the group to the generated image. The current docs show the old version, where this is not the case.

[2021-07-19 10:05] Ferror commented on #631
Well, I will try to come up with some sort of a solution.

[2021-07-20 10:34] #331 closed

[2021-07-20 10:34] #473 closed

[2021-07-20 10:34] #582 closed

[2021-07-20 10:34] #594 closed

[2021-07-20 10:38] patrickkusebauch opened #637 "Tracking custom function calls"
Follow up to #634

Creating an AstDependency when a non-internal function is called

[2021-07-20 10:39] patrickkusebauch opened #638 "Update debug commands"
Follow up to #634

To make sense now that more than just classes can be the source of dependency.

[2021-07-20 10:39] patrickkusebauch opened #639 "E2E tests for superglobals and functions"
Follow up to #634

[2021-07-21 16:07] #636 closed

[2021-07-21 16:16] dbrumann commented on #632
Since there was no feedback, I will consider this issue solved.

I personally prefer having separate files for multiple rulesets. Unlike phpunit's multiple testsuites, I don't see us supporting multiple rulesets in a single file (other than having granular layers) because we will also need to assign layers to each ruleset, which will make the depfile harder to read and not save much over having mu

[2021-07-21 16:16] #632 closed

[2021-07-21 16:24] #575 closed

[2021-07-22 06:42] #593 closed

[2021-07-26 17:32] #615 closed

[2021-07-31 21:04] patrickkusebauch opened #658 "Improvement: Graphviz Collapsible Groups"
How about adding a flag for graphviz output, that would show a graph of groups instead of layers? Therefore allowing for a higher-level graphical overview of the system.

[2021-08-01 18:24] patrickkusebauch opened #659 "Improvement: Debug command to display dependencies"
When I generate a graph and it has very few dependencies, I might think about removing the dependency between layers. But I have no easy way to find the "offending" dependencies.

The only way is to remove the layer dependency, run deptrac again and look at the violations.

It might be more useful to have a debug command where I can insert the name of the 2 layers and get a list of the dependencie

[2021-08-03 08:24] staabm opened #661 "print yaml error"
with a typo in the depfile.yml we see errors like

[code]

[code]

when running https://github.com/j13k/yaml-lint on this file I get

![image](https://user-images.githubusercontent.com/47448731/127980354-5cf3eff9-2960-4723-bb6c-c81607916a9d.png)

[2021-08-03 17:40] #661 closed

[2021-08-03 17:46] #638 closed

[2021-08-03 18:06] patrickkusebauch opened #663 "Improvement: Debug commands should use emitters and not AstTokens"
This is an extension of the current functionality. But I am thinking if this should first pass by Emitters somehow since now you might not want to collect some of the tokens. Something like to actually analyze normally, and look at the `dependencyResult` for dependencies that are not in any layer.

_Originally posted by @patrickkusebauch in https://github.com/qossmic/deptrac/pull/647#discussion_r6

[2021-08-04 06:14] dbrumann opened #664 "Fix deptrac-violations introduced by renaming"
See: https://github.com/qossmic/deptrac/runs/3233624688?check_suite_focus=true

[code]

[2021-08-06 06:34] #664 closed

[2021-08-13 22:36] patrickkusebauch opened #667 "Template parameters inside functions/methods"
While deptrac now nicely recognizes template parameters of class/method/function signatures, it does not do so when the templated variable is used inside said function/method via `@var` annotation

[2021-08-14 18:23] patrickkusebauch opened #668 "Incorrect merge of `formatters.graphviz.hidden_layers` from multiple files"
If this config option is distributed across multiple files, it is not the union of all, but values from one are overridden based on `array_key` (eg 1. value overrides the 1. value from another file and so on.)

[2021-08-14 20:18] #668 closed

[2021-08-17 18:57] alexander-schranz commented on #633
You could just exclude the Domain Events directory from your layer here an example:

[code]

I personally would find it a great feature that one file would only match one defined layer and can so not be part of multiple layers. This would make such configuration easier when the file is just part of the first layer it does match.

[2021-08-17 19:02] patrickkusebauch commented on #633
@alexander-schranz That would not be very difficult to do in practice, with a config option or a flag. However, I worry about these things:
 - it would be quite brittle because now you would depend on the order of layer definitions as well as on the order of included config files
 - I am not sure how it would interplay with the proposed feature for excluding other layers from layer definitions.

[2021-08-17 19:08] alexander-schranz commented on #633
@patrickkusebauch sure I think sometimes its just hard to write the regex and something like `exclude_files` on the layer level would maybe also help and make the config better understandable:

So instead of:

[code]

[code]

[2021-08-17 19:27] patrickkusebauch commented on #633
@alexander-schranz For that, you can use the bool collector:
[code]

[2021-08-17 19:37] alexander-schranz commented on #633
@patrickkusebauch  didn't know about that thank you 👍

[2021-08-23 16:33] staabm opened #671 "unknown collector type "superglobal""
the example from https://github.com/qossmic/deptrac/blob/main/docs/collectors.md#superglobal-collector

applied like

[code]

renders
[code]

using latest deptrac

[code]

[code]

I tried different spellings like `superGlobal` but this didn't work either.
I am wondering that `superglobal` is not listed in the error message.

[2021-08-23 16:38] staabm commented on #671
we are using the deptrac-shim.. maybe its related ... couldn't yet confirm

[2021-08-23 17:01] patrickkusebauch commented on #671
Yeah, some dumb person forgot to add it to `services.php`. :smile: Sorry about that, my bad.

[2021-08-23 17:09] patrickkusebauch commented on #671
Really shows the importance of https://github.com/qossmic/deptrac/issues/639

[2021-08-23 17:40] #671 closed

[2021-08-23 17:42] dbrumann commented on #671
We've all been there. One of my first additions had the same issue. 😄
Refactoring the config is on my radar and preventing this issue is on my list of things I want to improve.

I have just merged the PR and will create an 0.15.1 tomorrow morning

[2021-08-24 07:56] staabm commented on #671
thank you guys. and no worries for making mistakes - we all do. <3.

[2021-08-26 12:51] jakzal opened #674 "PHAR signature could not be verified"
Deptrac installation fails due to signature verification failure (btw, keys seem to have been changed again).

To reproduce:

[code]

[code]

[2021-08-26 22:31] #674 closed, assigned to nobody

[2021-08-27 09:27] staabm opened #675 "windows vs. linux baseline"
a deptrac baseline generated on windows contains backward slashes in file path, like:

[code]

generating this same file on linux generates

[code]

which leads to errors like

![grafik](https://user-images.githubusercontent.com/120441/131105538-d8590e4a-294f-4932-8c92-537a69b77755.png)

since deptrac cannot match the ignored errors with those in the baseline.

I think the baseline should always u

[2021-09-01 12:49] gisostallenberg opened #684 "Add glob collector"
The directory collector is based on a regex (which also is flagged as case insensitive). I would really like to be able to use a glob pattern (maybe allow the non-php glob pattern dir/**/somethingDeeper).
As I understood it is possible to create custom collectors, but would you be interested in a PR adding a glob collector (and should it allow the double star)?

[2021-09-01 12:50] gisostallenberg commented on #684
As a suggestion it could use https://packagist.org/packages/webmozart/glob for the ** pattern.

[2021-09-10 14:31] MGatner commented on #624
@github-actions pls no

[2021-09-10 14:31] MGatner commented on #625
Still keen on this.

[2021-09-10 15:10] gennadigennadigennadi opened #689 "Improve DebugCommands"
Currently the DebugCommands require the depfile as an argument. Instead of having it required I would like to make it an optional Option. This is also the way the AnalyseCommand handles the depfile.

Additionally the layer argument could also become optional, instead we could just return all layers.

[2021-09-10 18:43] patrickkusebauch commented on #576
Well, it seems like people do not care about this one. I have a stake in this. @dbrumann WDYT? Would you accept it if I write a PR?

[2021-09-10 18:44] patrickkusebauch commented on #586
@github-actions don't do that!

[2021-09-10 18:47] patrickkusebauch commented on #504
This is useful, just difficult to implement, don't close it yet.

[2021-09-10 18:47] patrickkusebauch commented on #449
This is very useful, don't close it yet.

[2021-09-10 19:08] dbrumann commented on #576
We talked about this before, so just to have it on the record here. To me pointing layers to groups or the other way around feels like an "architecture smell", something like having a catch-all helper/utilities namespace, where instead you want a separate group/layer. I acknowledge, that this is personal preference and there is some variance in requirements and I can see why you (and judging from

[2021-09-10 19:15] marcelthole commented on #449
maybe, the next week is a little bit longer than normal weeks...

But yeah, i didn't tried the latest version if it's still a problem.

@smoench added a good idea and work and i hope @timglabisch as the new maintainer also supports the idea of adding better reflection?

[2021-09-10 19:18] patrickkusebauch commented on #449
@marcelthole Yes, this is still very much a feature that it would be nice to have, it is just quite a bit of work and there is no PR for it. If somebody does it, I am sure it would get accepted from the talks I've had with @dbrumann .

[2021-09-13 10:45] smoench commented on #449
Well, there is an open POC/PR https://github.com/qossmic/deptrac/pull/454 for it but needs a rebase. Feel free to take over :-)

[2021-09-18 14:06] #631 closed

[2021-09-18 14:28] #432 closed

[2021-09-18 14:30] patrickkusebauch commented on #432
For future reference - there was the ability to create the plugin, whoever it was clear there would be no one who would be willing and able to maintain it, so for that reason, it was never created.

[2021-09-20 15:34] patrickkusebauch commented on #639
@github-actions Don't do that!

[2021-09-20 15:35] patrickkusebauch commented on #637
@dbrumann This does not have to be implemented if there is no demand, but it should at least be documented.

[2021-09-27 14:54] staabm commented on #635
@dbrumann is it expected to close issues which are planned in the Kanban board?

[2021-09-27 14:56] dbrumann commented on #635
No, I have to have a look at the config. I removed the label and re-opened the issue

[2021-09-30 15:04] patrickkusebauch commented on #658
Please, not yet!

[2021-09-30 18:50] staabm opened #697 "unassigned reports layers which are assigned"
running `.\vendor\bin\deptrac debug:unassigned depfile.yml` reports `lib\Starterlounge\model\StarterloungeSessionModel.php` as unassigned, even though it matches the rule defined in the depfile.

depfile.yml
[code]

lib/Starterlounge/model/StarterloungeSessionModel.php
[code]

as I read the logic in https://github.com/qossmic/deptrac/blob/b334dfe935f6f5ce8839211f39e199a67f6d983f/src/UnassignedAnal

[2021-10-01 16:33] patrickkusebauch commented on #659
This is still waiting for comments. I still think people might find this useful.

[2021-10-01 16:44] patrickkusebauch commented on #697
@staabm I will try to look into this over the weekend. From the description (not looking at code) I have the following ideas:
 - this might be correct since `className` is collecting classes and not files. What is being marked as unassigned is the file, not the class inside. Imagine a situation where you would have some "procedural" code outside of the class definition, that code would have to be

[2021-10-02 17:54] #635 closed

[2021-10-03 13:32] patrickkusebauch commented on #697
I am now certain that it is just a symptom of #663.

[2021-10-03 15:10] patrickkusebauch commented on #663
@github-actions Not this one either. It had activity 2 hours ago, man...

[2021-10-11 07:12] lezhnev74 opened #703 "Define dependency in the code, not in a dep file"
Hey! Just wondering is it possible to specify some rules in the code directly, with a dock block or different methods? When one designs a class that only should be visible in certain namespace it would be nice to specify it's visibility somewhere in the code. Custom Collectors is a way to achieve that?

An example of the idea:
[code]

[2021-10-11 13:33] barobba opened #704 "Is "deptrac --version" wrong?"
Is the command `deptrac --version` wrong?

I tried running this on the latest version (`0.15.2`) but I seem to be getting an old version number (`0.15.0-5-g43d3c58`).

[2021-10-11 21:09] barobba commented on #637
How do I vote for this issue?

Also, if you do get it working please let me know!

[2021-10-12 14:20] #703 closed

[2021-10-15 14:49] MGatner commented on #625
@ta-tikoma That is the default behavior, unless I have misunderstood.

[2021-10-17 12:17] #675 closed

[2021-10-19 20:58] a-menshchikov opened #707 "Wrong count of dependencies with analyser.types usage"
Although I use only "class" emitter as analyser.types value, graphviz shows me count of dependencies taking into account use statements for every layer. To prevent this behavior earlier was introduced analyser.count_use_statements (which marked as deprecated now).

[2021-10-20 20:07] patrickkusebauch commented on #707
@a-menshchikov You have it correct, that is definitely a bug. I will look into it over the weekend for you, this should get fixed. :)

[2021-10-28 10:19] stolentine opened #708 "Intersect layers"
With structures like this:
[code]

I have to have 3 configuration files: one monitors the Layers dependencies inside the modules, the second - in order to prohibit dependencies between Modules, excluding only one Anticorruption Layer through which interaction is allowed, the third file is needed to limit the interaction between the Anticorruption Layer with concrete ModuleInterfaces.

I know that

[2021-10-30 12:16] #707 closed

[2021-10-30 12:47] #689 closed

[2021-10-30 22:29] patrickkusebauch commented on #689
@dbrumann @gennadigennadigennadi This also requires a change in the documentation.

Also, the implementation is a breaking change just to be aware.

[2021-11-01 11:47] dbrumann commented on #708
That's definitely an interesting idea. The depfile configuration can be quite verbose and unwieldy, so making it easier to create layers and/or a ruleset is always appreciated.

Creating layers dynamically in the ruleset poses some questions, though. What happens when we define our own layer named `PostModule + AnticorruptionLayer`? What if I don't have a layer but also don't want one to be genera

[2021-11-01 11:56] dbrumann opened #715 "Fix errors for new level introduced by phpstan 1.0"
We currently set the level in our `phpstan.neon.dist` to 8. With the 1.0 release phpstan introduced a new level, which reports some additional issues.

To Do:
 * [ ] Restore `level: max` in `phpstan.neon.dist`
 * [ ] Fix new issues reported by phpstan

[2021-11-01 14:07] staabm commented on #538
@dbrumann It seems the latest release contains this issue in the changelog even though its a ongoing and not yet finished task

[2021-11-01 14:33] dbrumann commented on #538
Yes, the changelog generator reports every closed ticket between releases, whether resolved or not. Maybe if there's an option for not showing those, I can use that with the next release

[2021-11-01 19:49] patrickkusebauch commented on #708
I think this would be best done by supporting providing configs from PHP code instead. There you could do these types of complicated set-ups much easier. Creating our own meta-language within YAML will make things way too complicated.

[2021-11-02 09:40] gisostallenberg commented on #684
By the lack of response I understand there is no interest in having this generally available.

[2021-11-02 09:40] #684 closed

[2021-11-05 17:27] stolentine opened #717 "Uncovered list"
How can i get the list of "uncovered" items?

'''debug:unassigned''' debug displays 8 items and analysis displays uncovered 1000+ items

[2021-11-05 18:09] patrickkusebauch commented on #717
@stolentine could you please provide your config file?

[2021-11-05 19:00] stolentine commented on #717
Ooohh...
We are in the process of changing the architecture, so the settings are strange in places

[code]

[code]

[code]

[2021-11-05 19:12] patrickkusebauch commented on #717
I guess it is possible that you have 1185 uncovered dependencies on those 4 files and 4 classes in them. That would make sense but it is a lot of dependencies in my mind for just 4 classes. Is this at all plausible? I do not know how big/used the classes are.

[2021-11-05 19:13] patrickkusebauch commented on #717
You could try to create a `dummy` layer with just those 4 classes and see if those uncovered dependencies turn into vialiations. If they do, it would be this case. If you have some uncovered dependencies left when `debug:unassigned` is empty, that would be a concern and quite likely a bug in `deptrac`.

[2021-11-05 19:22] stolentine commented on #717
Sorry, I probably should have removed this, so as not to mislead you. "todo.php" are temporary dummy classes. I removed them and the problem remained only now debug does not display anything

[2021-11-05 19:28] patrickkusebauch commented on #717
In that case, the last idea I have is that you are referencing uncovered dependencies to files not in `paths`. Do you have some examples of the uncovered dependencies?

[2021-11-06 12:43] stolentine commented on #717
[code]

DownCommand from the vendor for some reason use class "App\Http\Middleware\PreventRequestsDuringMaintenance" which does not exist.

debug:token with an argument of this class has empty output

[2021-11-10 14:54] patrickkusebauch commented on #576
Not yet, I will do it one day or another.

[2021-11-12 19:10] patrickkusebauch commented on #449
Nope

[2021-11-13 12:35] MGatner commented on #624
Fine.

[2021-11-13 12:35] #624 closed

[2021-11-17 14:38] dbrumann commented on #586
Stop it! Bad bot!

[2021-11-24 10:39] BafS commented on #631
Why was the issue closed? Is there a way to do it in deptrac?

I also wrote a little tool to generate the configurations.

[2021-12-10 16:37] patrickkusebauch opened #749 "Deptrac does not know `ReturnTypeWillChange`"
Introduced in PHP 8.1.

Causes this:
[code]

[2021-12-10 16:48] patrickkusebauch opened #750 "Bug: GraphViz output lost number of connections info (good first issue)"
It used to display the number of dependencies per connection, now it does not for some reason.

[2021-12-10 17:47] patrickkusebauch commented on #750
The change is in GraphVizOutputFormatter to:
[code]
from:
[code]

the reason is a change in API of `phpdocumentator/graphviz`. So one needs to make sure to pin the appropriate version.

[2021-12-10 23:56] #704 closed

[2021-12-11 16:00] #750 closed

[2021-12-12 10:21] patrickkusebauch opened #756 "Graphviz groups not working on windows"
@patrickkusebauch after a painfull rebase I realized the newly added "groups" feature seems to not work on windows, see
[code]

_Originally posted by @staabm in https://github.com/qossmic/deptrac/pull/701#issuecomment-991870129_

[2021-12-12 11:58] #576 closed

[2021-12-15 17:07] mdevlamynck opened #758 "Imports with a parent namespace are marked uncovered"
Dependencies imported with a parent namespace (`use Some;` and then using `Some\Dependency` instead of `use Some\Dependency;`) are reported as uncovered (with `--report-uncovered`) even though the dependency is in a layer.

Here's a repository reproducing the issue: https://github.com/mdevlamynck/deptrac-bug-sscce

[2021-12-15 20:19] patrickkusebauch commented on #758
@mdevlamynck Can you share your depfile.yml config, version of deptrac, and example of what is failing please? It will help in debugging the issue.

[2021-12-16 09:20] mdevlamynck commented on #758
Oh my bad I jumped to conclusions. I was wrong it's not the alias the issue its importing a parent namespace. I'll edit my issue with a sscce repository demonstrating the issue :)

[2021-12-20 09:40] fbiesse opened #763 "Deprecations with PHP 8.1"
When I launch deptrac with PHP8.1, I get the following errors ;

[code]

It would be great to integrate these changes in the next release.

Thank you.

[2021-12-20 18:54] patrickkusebauch commented on #763
This is a problem with the way we build PHAR: https://github.com/box-project/box/issues/562

[2021-12-21 06:48] #504 closed

[2021-12-21 08:01] patrickkusebauch opened #766 "Bug in new config"
[code]

[2021-12-21 08:31] #766 closed

[2021-12-21 18:48] patrickkusebauch opened #768 "Improvement: Nested Graphviz groups"
It would be nice if a graphviz group could itself have another group as a part of it. It would allow for more expressive diagrams.

[2021-12-30 19:26] patrickkusebauch commented on #659
Solved by https://github.com/Dance-Engineer/deptrac-awesome extension package I wrote. :)

[2021-12-30 19:26] #659 closed

[2021-12-31 17:29] patrickkusebauch commented on #758
I have looked into it and I see your issue now. Use statements for namespaces are not supported by deptrac. To get rid of the uncovered notice, you might want to use:
[code]

[2021-12-31 19:09] patrickkusebauch opened #777 "Relax requirements on `formatters` config"
Now when you can register custom formatters, you have no way to pass additional config parameters to it. You are blocked by the strict checking of the format of the config file.

[2022-01-01 18:29] mdevlamynck commented on #758
If I make a PR to avoid adding namespaces to the list of emitted dependencies if the namespace is used (i.e. is a prefix of some class in the file), would you accept it or do you consider the current behavior better?

[2022-01-01 18:33] patrickkusebauch commented on #758
I cannot talk for @dbrumann but I can't see why not. Going forward, counting `use` statements will not be the default behavior, since it artificially inflates the number of dependencies, but for people that want to use it, this would be still useful.

[2022-01-04 19:50] ktrzos opened #784 "[Question] A basic example for a Graphviz graph"
Can anyone help me with creating a basic example for a Graphviz graph? I am trying to generate an image with Graphviz. Been using `--graphviz-dump-image`, but no image created. When used this:

[code]

got a message:

Nothing is working 😅. Would be glad for any help. Thanks!

[2022-01-05 18:06] patrickkusebauch commented on #784
Hello @ktrzos, what version of deptrac are you using? There have been changes in the console API, so the way to generate image are very different between the last published version and the current state.

[2022-01-05 18:09] patrickkusebauch commented on #784
For master, this should work:
```php vendor/qossmic/deptrac/deptrac.php --formatter=graphviz-image --output=temp/deptrac.png```
For the previous version, you would be looking for this:
```php vendor/qossmic/deptrac/deptrac.php --formatter=graphviz --graphviz-display=false --graphviz-dump-image=temp/deptrac.png```

[2022-01-05 18:26] ktrzos commented on #784
Hello @patrickkusebauch. I think I downloaded the newest *.phar version. After running this command:
[code]
I'm receiving:

[2022-01-05 18:27] patrickkusebauch commented on #784
Yes in that case the other version should work for you.

[2022-01-05 18:29] ktrzos commented on #784
Oh yes, you're right. It works 😅. Thank you and sorry for my confusion 🙏.

[2022-01-05 18:29] #784 closed

[2022-01-06 06:10] dbrumann opened #785 "Move (some) tools from phive to composer.json require-dev"
See https://github.com/qossmic/deptrac/pull/776#discussion_r779319294

**Tasks**

 * Evaluate which tools to move
   * Add to composer.json
   * Remove from phive
   * Update Makefile accordingly

[2022-01-06 06:15] dbrumann commented on #777
I will probably have a look at it in the coming weeks. My idea was to release the current set of changes, remove deprecations and make a new release and then look at how to improve configuration. I have some ideas, but I have to take a closer look first. Changing the configuration is a bit tricky, because some things like PSR-service discovery break inside the phar.

[2022-01-06 06:16] #749 closed

[2022-01-10 09:19] #758 closed

[2022-01-11 22:12] #715 closed

[2022-01-12 20:14] staabm opened #788 "Docs menu"
Would be great the „further documentation“ chapter would already be listed in the main navigation

![B7069E4C-D097-43B3-A6B2-6AD2CB9BB6A6](https://user-images.githubusercontent.com/120441/149214673-33635c7b-8646-4b0c-9e20-88af10c11a6d.png)

[2022-01-13 11:24] ChristianVermeulen opened #789 "Wrong config file name in error"
It took me a while to understand what was happening. When I make a typo in my config file name, obviously deptrac can not read the file.

However, the error message does not show the given file but the default (pre 0.19) file name. This led me to believe my deptrac was not updated at all. Without a `--version` or something i had to find other ways to make sure.

In the end, it turned out I just ma

[2022-01-13 12:38] gisostallenberg opened #790 "non-existent parameter "depfileDirectory""
Since the 0.19.0 release I'm seeing _The parameter "layers" has a dependency on a non-existent parameter "depfileDirectory"_
I added the parameter under the new parameters level to move on, but I think _depfileDirectory_ should be provided automatically to stay more BC.

If you hint me where a change should be made I'm willing to provide a PR.

[2022-01-13 13:44] dbrumann commented on #790
Agreed, this should be covered by BC. I will have a look at this issue tomorrow.

[2022-01-13 13:48] dbrumann commented on #789
Thanks for the report & screenshot. It looks like my changes for the BC layer in [\Qossmic\Deptrac\Configuration\Loader::load](https://github.com/qossmic/deptrac/blob/main/src/Configuration/Loader.php#L38) caused this. I will have a look at this over the weekend.

[2022-01-15 21:49] patrickkusebauch opened #791 "Private/One-off dependencies/layers"
Sometimes, I want to create a separate layer, that is used only once for another layer to declare dependencies only for this particular layer. It is better explained on these 2 examples:

1. External library that should be used only by one particular layer
In this case, I might via vendor include a library that should be used only by this particular layer and nobody else. Right now I would have to

[2022-01-15 22:10] patrickkusebauch opened #792 "Documentation for writing extensions"
At least for formatters, it is straightforward. Implement the `OutputFormatterInterface`, let users know how to register it and you are good to go.

For Commands, this is not so simple, because you might want to depend on Analysers, token resolvers, and other internal features, that are not yet pinned down to a stable API.

[2022-01-15 22:12] patrickkusebauch opened #793 "Nested layers as fully fledged feature"
From experimenting with graphivz groups, I have found the ability to nest/group layers together an incredibly useful feature. It would be great if it was not an afterthought in output formatting but a fully supported feature across deptrac that would be used at least across all formatters.

[2022-01-16 09:50] dbrumann commented on #790
I can't reproduce this and from what I can see `Qossmic\Deptrac\Configuration\Loader::load` should always add this parameter. Can you give me more details about your setup, e.g. your config file content (if necessary, with obfuscated/removed class- and file names)?

[2022-01-16 11:49] dbrumann commented on #792
I would like to put this on hold for now and create docs one by one for each interface, because at the very least I want to make some slight modifications, e.g. `Qossmic\Deptrac\Collector\CollectorInterface::getType()` can be removed and instead we put this info as attribute on the tag. This way it is much easier to resolve conflicts when two or more collectors use the same type. Similarly for `Qo

[2022-01-16 12:07] dbrumann commented on #793
I think that's a great idea. Right now, I am hesitant to change too much regarding layers/collectors, because I am considering some major changes in this area, which might make this easier. I don't know when I have time for this, because it's a huge change and I haven't even started on anything, I just have some vague ideas in my head:

An often requested feature for deptrac is automatically colle

[2022-01-16 12:24] dbrumann commented on #791
I like the idea, but instead of having a new section how about having an associative options array, we can pass into collectors instead, e.g. like this:

[code]

[2022-01-16 12:46] #789 closed

[2022-01-16 13:02] dbrumann commented on #788
I have changed the docs accordingly. Now all the subsections are directly available in the menu.

<img width="1322" alt="Screen Shot 2022-01-16 at 14 01 49" src="https://user-images.githubusercontent.com/2952726/149661031-f6da502d-55a0-4049-a16b-255bc5277fbe.png">

[2022-01-16 13:02] #788 closed

[2022-01-16 21:18] ChristianVermeulen commented on #789
🥳

[2022-01-17 09:24] gisostallenberg commented on #790
@dbrumann thanks for looking into this.
A very minimal (redacted) config which causes this issue would be:
[code]

This gives `The parameter "layers" has a dependency on a non-existent parameter "depfileDirectory".`

[2022-01-20 07:40] gisostallenberg commented on #790
@dbrumann Thanks again for looking into this.
The issue is solved for now, by just adding the parameter in the file, so don't bother releasing a 0.19.2...

[2022-01-20 12:16] pincher2012 opened #798 "Performance issue"
Hello, thank You for this tool!

I just want to share performance results on my project before and after this [PR](https://github.com/qossmic/deptrac/pull/778).

Before:
[code]

After:
[code]

How do you think, is it possible to optimize the algorythm?

_Originally posted by @pincher2012 in https://github.com/qossmic/deptrac/issues/778#issuecomment-1017434903_

[2022-01-20 13:23] mdevlamynck commented on #798
Do you have a public project big enough to test optimizations against?

[2022-01-20 14:28] mdevlamynck commented on #798
On a small project this patch povides some improvements, can you try it on your project?
[code]

[2022-01-20 17:07] pincher2012 commented on #798
On my project i have such results

Before:
[code]

After:
[code]

[2022-01-20 17:42] mdevlamynck commented on #798
So it's a significant improvement. What was the result with deptrac 0.18?
I can see a potential optimization but it might make the code way more complex.

[2022-01-20 20:49] pincher2012 commented on #798
With deptrac 0.18 the result was 8-9 sec. I think it's need to build an index with nested namespace levels and then just check if corresponding key exists instead of iterating over an array in a loop.

[2022-01-20 23:17] mdevlamynck commented on #798
Yes that's what I was thinking.

[2022-01-21 08:58] dbrumann opened #800 "Align collector configuration"
Collectors get some value against which dependencies are compared, e.g. a regex-pattern in case of the className-collector. The key for this value can be different for each collector. I don't see much of a benefit, instead it makes configuration more difficult, because you need to know what the key is called for the specific collector.

Her is an overview of the current state:

| collector | key |

[2022-01-21 09:12] dbrumann opened #801 "Remove CollectorInterface::getType"
We can replace `getType()` and instead use an attribute on the `collector`-tag for registering them in the Registry under that name.

The depfile itself will not change. We need to modify the service configuration in config/services.php (add attributes to tag, inject tagged collectors into Registry by name) and change the Registry itself by assuming the iterable has the type as key, i.e. something

[2022-01-21 09:13] dbrumann commented on #800
Ideally, we would allow both variants at first to prevent a BC-break in the depfile.

[2022-01-21 09:35] dbrumann opened #802 "Remove OutputFormatterInterface::getName and getConfigName"
See #801 for reference

This is more difficult than CollectorInterface, because we currently load config dynamically based on which collector is used. This must be moved inside the container.

I think we can use a similar approach. As far as I can tell we don't really need the OutputFormatterFactory anymore, because we only support 1 formatter during analysis anyway. That means, we can inject the

[2022-01-23 16:22] #798 closed

[2022-01-25 18:39] m-nic opened #804 "The debug:layer command fails"
The debug command fails.

Here are the reproduction steps:

- I created a simple setup based on the documentation (some php files & deptrac.yaml config).
- The analyze command seems to work as expected, but the debug one throws the following error:
[code]

Please see attachment for the verbose output.

Attached
[output.txt](https://github.com/qossmic/deptrac/files/7936272/output.txt)

[2022-01-25 18:41] dbrumann commented on #804
Thanks for reporting, I will have a look at it as soon as possible

[2022-01-26 11:47] dbrumann opened #806 "Add e2e-tests for running all provided commands"
We should add tests to the e2e suite to prevent regressions similar to #804

See #804, #805

[2022-01-26 20:23] marekstodolny opened #807 "Add a codeclimate/GitLab output formatter"
Hi, I was trying to use deptrac with GitLab CI and while it works when using JUnit formatter, dependency violations show up as test results.

<img width="651" alt="image" src="https://user-images.githubusercontent.com/7403046/151240776-abc5a268-79a4-44cb-bb18-5651285deeae.png">

 It would be a better experience if violations would show up with code examples and priorities within their code analysi

[2022-01-27 06:27] #804 closed

[2022-01-31 09:09] staabm opened #809 "deptrac should generate baseline if missing"
IMO running `deptrac --formatter=baseline output=/my/path.yml` should try to create the file at `/my/path.yml` if not existant instead of erroring about a unreadable/non-existant file

[2022-02-03 15:10] beeyev opened #818 "Multiple deprecations in php 8.1"
Hello, first of all, thanks for the great tool, I have been using it for quite a long time.
But it seems that the library needs to be updated in order to work with PHP 8.1
I get these errors:
[code]

Could you please fix that?

[2022-02-03 20:13] dbrumann commented on #818
Thanks for the compliment and the bug report. I will have a look at it when I have time, but I can't promise we can fix those right away as they seem to come from a library we are using which might not be fully deprecation free.

Being deprecation free is not a top priority for me. This is a great article explaining why: https://wouterj.nl/2021/11/deprecations-are-not-errors

[2022-02-08 06:44] a-menshchikov opened #820 "Outdated docs"
The current content on [The Depfile](https://qossmic.github.io/deptrac/#the-depfile) section is outdated for v0.19.

[2022-02-09 17:41] boesing opened #821 "`YamlFileLoader` throws `InvalidArgumentException`"
Hey there,

I wanted to start using `deptrac` so I've installed it using phive.
Afterwards, I've created a configuration and immediately after doing so, the `YamlFileLoader` blocks me from executing any command:

[code]

[code]

Am I missing some details?

[2022-02-09 18:04] patrickkusebauch commented on #821
Hi, starting with deptrac v 0.19, both `paths` and `layers` are sub-items under `parameters`. So your config should look like this:
[code]

Please refer to the documentation for details. The config file you have right now is applicable to the previous versions of deptrac.

[2022-02-11 10:19] #820 closed

[2022-02-16 09:51] rvanlaak commented on #625
For my scenario I want the `Infrastructure` layer to be able to implement interfaces from the `Application` layer, but not extend or import any other classes from the `Application` layer.

Tried achieving this by:
* using a wildcard on the `implements` collector, but it does not support wildcards
* using a `className` collector will not work as we do not want our classnames to explicitly end with

[2022-02-16 09:58] rvanlaak opened #823 "Feature: Collect all interfaces in a directory"
For our usecase we want to configure a layer to only include all interfaces from a certain directory. More specifically, we want the `Infrastructure` layer to be able to implement all interfaces from the `Application` layer, but not extend or import any other classes from the `Application` layer.

## Current situation

1.  using `className` collector does not work, as it does not allow to solely i

[2022-02-19 13:15] MGatner commented on #625
IMO these last two comments are unrelated to this feature request and should become their own discussions.

I would still like this feature and I am willing to help develop it if a maintainer will specify viability and precise behavior. I can also offer a bounty if anyone else would like to take in on.

[2022-02-21 12:08] rvanlaak commented on #625
@MGatner you are right, so I created issue https://github.com/qossmic/deptrac/issues/823 for that.

[2022-02-22 13:46] vudaltsov opened #827 "Cannot find reset function with functionName collector"
Hi! Thank you for the library.

It seems that

[code]

cannot find a [reset](https://www.php.net/manual/ru/function.reset.php) function.

Am I doing smth wrong?

[2022-02-22 19:23] patrickkusebauch commented on #827
Don't quote me on this, but I think I remember that we do not have support default PHP functions yet.

[2022-02-27 21:37] gennadigennadigennadi commented on #801
I think I could work on this one in the next week.
I just looked into the current implementation and therefor I don't know if the getType really gets used for a user friendly name.
We could just use the FQCN instead, so it would not be possible to accidentally overwrite an already registered Collector with the add method.

[2022-03-06 08:53] dbrumann commented on #823
That's a neat idea. I think either an `InterfaceNameRegexCollector` or maybe changing (and renaming) the ClassNameRegexCollector to allow for restricting to a certain type (e.g. class, interface, trait) would be a great way to solve this.

I might have a look at this, but just to be upfront I am currently bogged down with other things so I don't have much time for deptrac right now and I'm not sur

[2022-03-06 08:59] dbrumann commented on #827
Yes, we only search for function definitions available to us. Maybe using something like [JetBrains/phpstorm-stubs](https://github.com/JetBrains/phpstorm-stubs) could be used to provide them.

[2022-03-06 09:03] #809 closed

[2022-03-08 20:49] gennadigennadigennadi commented on #823
@[vanlaak](https://github.com/rvanlaak) I've implemented a first draft: https://github.com/qossmic/deptrac/pull/836.
Right now I don't know what the best way would be to only apply the Regex on specific Object-Types (e.g classes, abstract classes, Interface or traits.)
@dbrumann  do you still think a GenericNameRegexCollector is the way to go?

[2022-03-09 13:55] rvanlaak commented on #823
@gennadigennadigennadi looks great already. I left a comment at your draft PR.

[2022-03-10 07:21] ktrzos commented on #717
Hey. I'm experiencing a similar thing:

[code]

when having empty list with `vendor/bin/deptrac debug:unassigned`.

What does the "Uncovered" means? Is it related to "unassigned"?

[2022-03-11 16:54] patrickkusebauch opened #837 "Custom attributes for layers"
Having custom attributes for layers like this:
[code]
in combination with having an extension point for post-processing results before passing to formatter(#838) would allow for an extensible implementation of #625

[2022-03-11 16:59] patrickkusebauch opened #838 "Extension point - result post processing"
Let's have an interface like this:

[code]

That would allow you to arbitrarily manipulate (for example delete unwanted) analysis result before passing them to the output formatter.

[2022-03-14 10:02] alexander-schranz opened #839 "PHP 8.1 deprecations"
Currently deprac seems to output some PHP 8.1 deprecations:

[code]

I checked the box project and it seems to be fixed there: https://github.com/box-project/box/blob/3.16.0/requirement-checker/src/RequirementCollection.php Seems like deptrac was created with an older version of the box project?

[2022-04-01 14:02] #800 closed

[2022-04-01 14:19] #801 closed

[2022-04-01 15:52] patrickkusebauch opened #842 "Enum support"
It might be we have it just by the virtue of the ast parsing library, I am not sure, we even if we do, we should definitely have at least some tests and docs for it.

[2022-04-04 06:32] dbrumann commented on #838
In the analyser we dispatch events like `PostCreateAstMapEvent`. Would it make sense to do the same for postprocessing? Instead of having the interface, you write a listener/subscriber for the event.

[2022-04-06 20:43] alexander-schranz opened #849 "Deptrac should ignore phpstan-type"
Deptrac seems to convert phpstan type:

[code]

Into a class `App\Device\Domain\Repository\DeviceRepositoryFindByFilter`:

[code]

And report them as uncovered.

[2022-04-08 20:27] TravisCarden opened #850 "Why are my interfaces counted as uncovered?"
I'm using deptrac for the first time, and I'm confused by the output I'm getting:

[code]

**I wasn't expecting any classes to be "Uncovered".**

74 is the correct number of classes in my `src` directory. 32 is the number of interfaces, which corresponds to the "Uncovered" number. But the interfaces are included in the output of `deptrac analyze -v`, so it _seems_ like they're being analyzed. (I d

[2022-04-08 22:08] patrickkusebauch commented on #850
Hi, welcome to using deptrac :slightly_smiling_face:. Let me clear those things up for you.

First, 32 being the number of `uncovered` dependencies and the number of interfaces you have is most likely just a coincidence.

If you look at your reports and what individual lines mean:
 - `Allowed` = how many times something from your `Infrastructure` depends on something from `Domain`. It is counting

[2022-04-09 10:49] #763 closed

[2022-04-09 10:49] #818 closed

[2022-04-09 10:49] #839 closed

[2022-04-09 10:52] alexander-schranz commented on #839
@dbrumann thank you!

[2022-04-11 15:15] dbrumann commented on #849
Are you sure Deptrac reads the `@phpstan-type`? I tried reproducing the issue, but for me Deptrac ignores the annotation both in the corresponding test and in a minimal example. Maybe the class is referred to at another point in the interface again?

[2022-04-11 17:33] dbrumann commented on #842
We do have it by virtue of AST parser recognizing it as something class-like. I have added an example and also added it to e2e-tests, because that seemed like the quickest way to test it. What do you suggest for the docs? Maybe a note in className collector, that it will also collect enums?

Maybe we can use #836 to rename the classNameCollector to better reflect that it collects anything class-li

[2022-04-12 18:03] TravisCarden commented on #850
Very helpful, thanks! And how nice to meet such a friendly maintainer. 🙂

[2022-04-12 18:03] #850 closed

[2022-04-14 17:36] m-nic commented on #823
Hi, I was about to open a ticket on the same matter 😊.
Any movement on this?
Thank you!

[2022-04-18 11:01] gennadigennadigennadi commented on #823
We talked about the implementation and I just implemented the last stuff.

There is only one thing left we need to decide on and I need to write some documentation.
But I won't be able to work on it for the next few weeks, so I don't think it will be merged and published before may.

Basically there will be multiple collectors. ClassLikeCollector (that's the old classNameCollector with a new name)